<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:replace="commonTemplate :: header">

</head>

<body>
<div class="lyear-layout-web">
	<div class="lyear-layout-container">

		<!--左侧导航-->
		<div th:replace="commonTemplate :: leftMenus"></div>
		<!--End 左侧导航-->

		<!--头部信息-->
		<div th:replace="commonTemplate :: headerDiv"></div>
		<!--End 头部信息-->

		<!--页面主要内容-->
		<main class="lyear-layout-content">

			<div class="container-fluid">
				<form  th:action="@{stuScore/toAchievement.ht}"  id="frm" name="frm" method="post">
					<div class="row">
						<div class="col-lg-12">
							<div class="card">

								<div class="card-toolbar clearfix " >

									<div class="toolbar-btn-action">
									</div>
								</div>
								<div class="card-body">

									<div class="table-responsive">
										<table class="table table-bordered">
											<thead>
											<tr>
												<td class="col3">班级名称</td>
												<td class="col5">学籍</td>
												<td class="col5">操作</td>
											</tr>
											</thead>
											<tbody>
											<tr th:each="info:${pageResult.list}" th:if="${pageResult.list != null &amp;&amp; pageResult.list.size() > 0}" onmouseover="this.style.backgroundColor='#e3f1ff'" onmouseout="this.style.backgroundColor='#ffffff'">
												<td class="col2">
													<span style="cursor:pointer"  th:onclick="'edit(\'' + ${info.cId} + '\')'" th:text="${info.cName}"></span>
												</td>
												<td class="col4">
													<span style="cursor:pointer" th:onclick="'edit(\'' + ${info.cId} + '\')'" th:if="${info.cStatus =='0'}"   th:text="初中"></span>
													<span style="cursor:pointer" th:onclick="'edit(\'' + ${info.cId} + '\')'" th:if="${info.cStatus =='1'}"  th:text="高中"></span>
												</td>
												<td class="col4">
													<span style="cursor:pointer;color:red;" th:onclick="'edit(\'' + ${info.cId} + '\')'" th:text="查看成绩单"></span>
													<input type="hidden" id="operationSuccess" name="operationSuccess" th:value="${operationSuccess}" />
												</td>
											</tr>

											</tbody>
										</table>
									</div>
									<ul class="pagination" th:if="${pageResult != null}" th:object="${pageResult}">
										<li><a href="javascript:void(0);" th:onclick="*{hasPreviousPage} ? 'go(1)' : 'return false;'">首页</a></li>
										<li><a href="javascript:void(0);" th:onclick="*{hasPreviousPage} ? 'go(' + *{prePage} + ')' : 'return false;'">上一页</a></li>
										<li><a href="javascript:void(0);" th:onclick="*{hasNextPage} ? 'go(' + *{nextPage} + ')' : 'return false;'">下一页</a></li>
										<li><a href="javascript:void(0);" th:onclick="*{hasNextPage} ? 'go(' + *{pages} + ')' : 'return false;'">末页</a></li>
										<li><a href="javascript:void(0);" onclick="go($('#pagenumber').val());">跳转至</a></li>
										<li><a href="javascript:void(0);"><input name="pageNum" id="pagenumber" th:value="*{pageNum}" />/<span id="_pages" th:text="*{pages == 0} ? 1 : *{pages}"></span></a></li>
										<li><a href="javascript:void(0);">页</a></li>
									</ul>

								</div>
							</div>
						</div>

					</div>
				</form>
			</div>

		</main>
		<!--End 页面主要内容-->
	</div>
</div>


<script type="text/javascript" src="js/jquery.min.js" th:src="@{static/js/jquery.min.js}"></script>
<script type="text/javascript" src="js/bootstrap.min.js"  th:src="@{static/js/bootstrap.min.js}"></script>
<script type="text/javascript" src="js/perfect-scrollbar.min.js" th:src="@{static/js/perfect-scrollbar.min.js}"></script>
<script type="text/javascript" src="js/bootstrap-datepicker.min.js" th:src="@{js/bootstrap-datepicker.min.js}"></script>
<script type="text/javascript" src="js/bootstrap-datepicker.zh-CN.min.js" th:src="@{js/bootstrap-datepicker.zh-CN.min.js}"></script>
<script type="text/javascript" src="js/main.min.js" th:src="@{static/js/main.min.js}"></script>
<script type="text/javascript" th:src="@{js/plugins/comm/common.js}"></script>
<script type="text/javascript" th:src="@{js/plugins/layer/layer.js}"></script>
<script type="text/javascript" th:src="@{js/plugins/comm/bmsAjax.js}"></script>
<script type="text/javascript" th:src="@{js/plugins/select2/select2.full.min.js}"></script>
<script type="text/javascript" th:src="@{js/plugins/form/jquery.form.js}"></script>
<script type="text/javascript" th:src="@{js/plugins/validate/jquery.validate.min.js}"></script>
<script type="text/javascript"
		th:src="@{js/plugins/My97DatePicker/WdatePicker.js}"></script>
<script type="text/javascript" th:inline="javascript">
	function edit( classId){
		// 根据班级Id查询班级的考试期数显示在页面上
		locationHref([[@{'/stuScore/queryDetails.ht'}]]+ "?classId=" + classId);
	}
</script>
</body>
</html>