<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:replace="commonTemplate :: header">
</head>
  
<body>
<div class="lyear-layout-web">
  <div class="lyear-layout-container">
   
    <!--左侧导航-->
    	<div th:replace="commonTemplate :: leftMenus"></div>
    <!--End 左侧导航-->
    
    <!--头部信息-->
    	<div th:replace="commonTemplate :: headerDiv"></div>
    <!--End 头部信息-->
    
    <!--页面主要内容-->
    <main class="lyear-layout-content">
      
      <div class="container-fluid p-t-15">
        <div class="row">   
		    <div class="col-lg-12">
		      <div class="card">
		        <div class="card-header">
		          <h4>菜单管理</h4>
		        </div>
		        <div class="card-body">

		          <div id="toolbar2" class="toolbar-btn-action">
		            <button type="button" class="btn btn-primary m-r-5" onclick="test()">新增</button>
		            <button type="button" class="btn btn-primary m-r-5" onclick="test()">删除</button>
		            <button type="button" class="btn btn-primary m-r-5" onclick="test()">修改</button>
		          </div>
		          
		          <table class="tree-table"></table>
		        </div>
		      </div>
		    </div>
		  </div>
      </div>
      
    </main>
    <!--End 页面主要内容-->
  </div>
</div>
<script type="text/javascript" th:src="@{static/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{static/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{static/js/perfect-scrollbar.min.js}"></script>
<script type="text/javascript" th:src="@{static/js/bootstrap-table/bootstrap-table.js}"></script>
<script type="text/javascript" th:src="@{static/js/bootstrap-table/bootstrap-table-zh-CN.min.js}"></script>

<!--行内编辑插件-->
<link th:href="@{static/js/x-editable/1.5.1/bootstrap3-editable/css/bootstrap-editable.min.css}" rel="stylesheet"/>
<script type="text/javascript" th:src="@{static/js/x-editable/1.5.1/bootstrap3-editable/js/bootstrap-editable.min.js}"></script>
<script type="text/javascript" th:src="@{static/js/bootstrap-table/extensions/editable/bootstrap-table-editable.min.js}"></script>

<script type="text/javascript" th:src="@{static/js/main.min.js}"></script>

<!--以下是tree-grid的使用示例-->
<link th:href="@{static/js/jquery-treegrid/jquery.treegrid.min.css}" rel="stylesheet"/>
<script type="text/javascript" th:src="@{static/js/jquery-treegrid/jquery.treegrid.min.js}"></script>
<script type="text/javascript" th:src="@{static/js/bootstrap-table/extensions/treegrid/bootstrap-table-treegrid.min.js}"></script>

<script type="text/javascript">
/*<![CDATA[*/


// tree-grid使用
var data1 = JSON.parse(
        '[{"id":1, "pid":0, "status":1, "name":"用户管理", "permissionValue":"open:user:manage"},' +
        '{"id":2, "pid":0, "status":1, "name":"系统管理", "permissionValue":"open:system:manage"},' +
        '{"id":3, "pid":1, "status":1, "name":"新增用户", "permissionValue":"open:user:add"},' +
        '{"id":4, "pid":1, "status":1, "name":"修改用户", "permissionValue":"open:user:edit"},' +
        '{"id":5, "pid":1, "status":0, "name":"删除用户", "permissionValue":"open:user:del"},' +
        '{"id":6, "pid":2, "status":1, "name":"系统配置管理", "permissionValue":"open:systemconfig:manage"},' +
        '{"id":7, "pid":6, "status":1, "name":"新增配置", "permissionValue":"open:systemconfig:add"},' +
        '{"id":8, "pid":6, "status":1, "name":"修改配置", "permissionValue":"open:systemconfig:edit"},' +
        '{"id":9, "pid":6, "status":0, "name":"删除配置", "permissionValue":"open:systemconfig:del"},' +
        '{"id":10, "pid":2,"status":1, "name":"系统日志管理", "permissionValue":"open:log:manage"},' +
        '{"id":11, "pid":10,"status":1, "name":"新增日志", "permissionValue":"open:log:add"},' +
        '{"id":12, "pid":10,"status":1, "name":"修改日志", "permissionValue":"open:log:edit"},' +
        '{"id":13, "pid":10,"status":0, "name":"删除日志", "permissionValue":"open:log:del"}]');
        
loadData();

function loadData(){
	
	$.ajax({
		url:basePath + "sys/menu/data.ht",
		type:'get',
		success:function(data){
			initTree(data)
		},
        error: function () {
            alert('修改失败，请稍后再试');
        }
	});
}

var $treeTable = $('.tree-table');
function initTree(data){
	
	$treeTable.bootstrapTable({
	    data: data,
	    idField: 'menuId',
	    uniqueId: 'menuId',
	    dataType: 'jsonp',
	    toolbar: '#toolbar2',
	    columns: [
	        {
	            field: 'check',
	            checkbox: true
	        },{
	            field: 'menuName',
	            title: '名称'
	        },{
	            field: 'menuId',
	            title: 'id'
	        },{
	            field: 'menuCode',
	            title: '权限值'
	        },{
	            field: 'pId',
	            title: '上级菜单ID'
	        },{
	            field: 'menuIcon',
	            title: '图标'
	        },{
	            field: 'menuUrl',
	            title: '跳转url'
	        },{
	            field: 'isMenu',
	            title: '类型',
	            formatter: function (value, row, index) {
	                if (row.isMenu == 1) {
	                    is_checked = '';
	                    return '菜单';
	                } else if (row.isMenu == 2){
	                	return '按钮';
	                }
	                return row.isMenu;
	            },
	        },{
	            field: 'operate',
	            title: '操作',
	            align: 'center',
	            events : {
	                'click .role-add': function (e, value, row, index) {
	                    add(row.menuId);
	                },
	                'click .role-delete': function (e, value, row, index) {
	                    del(row.menuId);
	                },
	                'click .role-edit': function (e, value, row, index) {
	                	modify(row.menuId);
	                }
	            },
	            formatter: operateFormatter
	        }
	    ],
	    
	    treeShowField: 'menuName',
	    parentIdField: 'pId',
	    
	    onResetView: function(data) {
	        $treeTable.treegrid({
	            initialState: 'collapsed', // 所有节点都折叠
	            treeColumn: 1,
	            //expanderExpandedClass: 'mdi mdi-folder-open',  // 可自定义图标样式
	            //expanderCollapsedClass: 'mdi mdi-folder',
	            onChange: function() {
	                $treeTable.bootstrapTable('resetWidth');
	            }
	        });
	        
	        // 只展开树形的第一集节点
	        $treeTable.treegrid('getRootNodes').treegrid('expand');
	    },
	    onCheck: function(row) {
	        var datas = $treeTable.bootstrapTable('getData');
	        
	        selectChilds(datas, row, 'menuId', 'pId', true); // 选择子类
	        
	        selectParentChecked(datas, row, 'menuId', 'pId'); // 选择父类
	        
	        $treeTable.bootstrapTable('load', datas);
	    },
	    
	    onUncheck: function(row) {
	        var datas = $treeTable.bootstrapTable('getData');
	        selectChilds(datas, row, 'menuId', 'pid', false);
	        $treeTable.bootstrapTable('load', datas);
	    },
	});
}
  
// 操作按钮
function operateFormatter(value, row, index) {
	
    return [
        '<a type="button" class="role-add btn btn-xs btn-default m-r-5" title="编辑" data-toggle="tooltip"><i class="mdi mdi-plus"></i></a>',
        '<a type="button" class="role-edit btn btn-xs btn-default m-r-5" title="修改" data-toggle="tooltip"><i class="mdi mdi-pencil"></i></a>',
        '<a type="button" class="role-delete btn btn-xs btn-default" title="删除" data-toggle="tooltip"><i class="mdi mdi-delete"></i></a>'
    ].join('');
}

/**
 * 选中父项时，同时选中子项
 * @param datas 所有的数据
 * @param row 当前数据
 * @param id id 字段名
 * @param pid 父id字段名
 */
function selectChilds(datas,row,menuId,pId,checked) {
    for(var i in datas){
        if(datas[i][pId] == row[menuId]){
            datas[i].check=checked;
            selectChilds(datas,datas[i],menuId,pId,checked);
        };
    }
}

function selectParentChecked(datas,row,menuId,pId){
    for(var i in datas){
        if(datas[i][menuId] == row[pId]){
            datas[i].check=true;
            selectParentChecked(datas,datas[i],menuId,pId);
        };
    }
}

function add(menuId) {
	location.href = basePath + "sys/menu/add.ht?parentId="+menuId;
}
function del(menuId) {
	//location.href = basePath + "sys/menu/del.ht?menuId="+menuId;
    alert("del 方法 , menuId = " + menuId);
}
function modify(menuId) {
	location.href = basePath + "sys/menu/modify.ht?menuId="+menuId;
}
function updateStatus(menuId, state) {
   /*  var newstate = (state == 1) ? 0 : 1; // 发送参数值跟当前参数值相反
    $.ajax({
        type: "get",
        url: "http://www.bixiaguangnian.com/index/test/testGridJson",
        data: {id: id, state: newstate},
        dataType: 'jsonp',
        success: function (data, status) {
            if (data.code == '200') {
                $treeTable.bootstrapTable('updateCellById', {id: id, field: 'status', value: newstate});
            } else {
                alert(data.msg);
                $treeTable.bootstrapTable('updateCellById', {id: id, field: 'status', value: state}); // 因开关点击后样式是变的，失败也重置下
            }
        },
        error: function () {
            alert('修改失败，请稍后再试');
        }
    }); */
}

function test() {
    var selRows = $treeTable.bootstrapTable("getSelections");
    if(selRows.length == 0){
        alert("请至少选择一行");
        return;
    }
	console.log(selRows);

    var postData = "";
    $.each(selRows,function(i) {
        postData +=  this.menuId;
        if (i < selRows.length - 1) {
            postData += "， ";
        }
    });
    alert("你选中行的 menuId 为："+postData);
}

	/*]]>*/
</script>

</body>
</html>