<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="null" threshold="null">
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="OA- %p %-d{yyyy-MM-dd HH:mm:ss} [%t] %c{1}.%M(%L) | %m%n" />
		</layout>
	</appender>
	
	<!-- 文件日志 -->
	<appender name="APPLOGFILE"
		class="org.apache.log4j.DailyRollingFileAppender">
		<!-- <param name="File" value="c:/logs/oa/oa.log" /> -->
		<param name="File" value="../logs/oa/oa.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="OA-%-5p %-d{yyyy-MM-dd HH:mm:ss} %-15c{1}: %m%n" />
		</layout>
	</appender>

	<logger name="com.atomikos">
		<level value="ERROR" />
	</logger>

	<logger name="com.atomikos.jdbc.AtomikosDataSourceBean">
		<level value="DEUBG" />
	</logger>
	
	<logger name="org.apache.ibatis">
		<level value="ERROR" />
	</logger>

	<logger name="cn.baisee">
		<level value="DEBUG" />
	</logger>
	
	<root>
		<level value="ERROR" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="APPLOGFILE" />
	</root>
</log4j:configuration>