<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>通知</title>
		<link rel="stylesheet" href="js/bootstrap-3.0.0/css/bootstrap.min.css" th:href="@{js/bootstrap-3.0.0/css/bootstrap.min.css}"/>
		<script type="text/javascript" src="js/jquery.min.js" th:src="@{js/jquery.min.js}"></script>
		<script type="text/javascript" src="js/bootstrap-3.0.0/js/bootstrap.min.js" th:src="@{js/bootstrap-3.0.0/js/bootstrap.min.js}"></script>
		<style type="text/css">
			td{
				word-break:break-all; 
				word-wrap:break-word; 
				white-space:inherit;
			}
		</style>
	</head>
	<body>
		<div id="list_div" class="table-responsive">
			<table class="table text-nowrap text-center">
				<tr style="background-color:#cde9da;">
					<td>标题</td>
					<td width="30%">发送人</td>
					<td>详细内容</td>
				</tr>
				<!-- 下面是数据 -->
				<tr th:each="item:${list}" th:if="${list != null &amp;&amp;list.size() > 0}" onmouseover="this.style.backgroundColor='#e3f1ff'" onmouseout="this.style.backgroundColor='#ffffff'">
					<td>
						<span th:text="${item.title}"></span>
					</td>
					<td style="vertical-align: middle;">
						<span th:text="${item.fromUserName}" ></span>
					</td>
					<td>
						<span th:text="${item.content}"></span>
					</td>
				</tr> 
			</table>
		</div>
	</body>
</html>  