/*!
* @Authors:              *
* @System:icip              *
* @Version:v1.0.0             *
* @update:2015-11-11 15:12:02 *
*/
@charset "utf-8"; 

.col-main, .grid-m .main-wrap, .grid-m0 .main-wrap {
	width: 100%
}

body, html {
	min-height: 100%
}

blockquote, body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5,
	h6, hr, input, legend, li, ol, p, pre, td, textarea, th, ul {
	margin: 0;
	padding: 0
}

body, button, input, select, textarea {
	font: 14px/1.5 "微软雅黑", "黑体", tahoma, arial, 'Hiragino Sans GB', 宋体,
		sans-serif;
	color: #333
}

_body {
	background-image: url(about:blank);
	background-attachment: fixed
}

a {
	text-decoration: none;
	color: #333
}

a:hover {
	text-decoration: underline
}

li {
	list-style: none
}

.col-extra:after, .col-sub:after, .grid-m:after, .grid-s5m0:after,
	.layout:after, .main-wrap:after, .skin-box .skin-box-bd:after,
	.skin-box .skin-box-bt:after, .skin-box .skin-box-hd:after, li:after,
	ul:after {
	content: '\20';
	display: block;
	height: 0;
	clear: both
}

.col-main {
	min-height: 1px;
	float: left
}

.col-sub {
	float: left
}

.col-extra {
	float: left
}

.col-address {
	float: left
}

.grid-m0s5e5 .main-wrap, .grid-s5e5m0 .main-wrap, .grid-s5m0e5 .main-wrap
	{
	width: 520px
}

.col-extra, .col-sub {
	width: 180px
}

.grid-s5m0 .main-wrap, .grid-s5m0e5 .main-wrap {
	margin-left: 185px
}

.grid-s5e5m0 .col-sub, .grid-s5m0 .col-sub, .grid-s5m0e5 .col-sub {
	margin-left: -100%
}

.grid-m0s5 .col-sub, .grid-m0s5e5 .col-extra, .grid-s5m0e5 .col-extra {
	margin-left: -222px
}

.grid-s5e5m0 .main-wrap {
	margin-left: 460px
}

.grid-s5e5m0 .col-extra {
	margin-left: -751px
}

.grid-m0s5e5 .main-wrap {
	margin-left: 0
}

.grid-m0s5e5 .col-sub {
	margin-left: -451px
}

.grid-m0s5e5a5 .col-address, .grid-m0s5e5a5 .col-extra, .grid-m0s5e5a5 .col-sub,
	.grid-m0s5e5a5 .main-wrap {
	width: 237px
}

.grid-m0s5e5a5 .col-sub {
	margin-left: -734px
}

.grid-m0s5e5a5 .col-extra {
	margin-left: -486px
}

.grid-m0s5e5a5 .col-address {
	margin-left: -239px
}

.layout {
	/* min-width: 980px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background: url("img/index-sf.jpg");
	background-size: 100% */
	background-color: #CDE9DA;
	
}

.skin-box {
	background: #FFF;
	width: 100%;
	position: relative;
	border: 1px solid #dbdbdb;
	margin-bottom: 10px
}

.grid-m .skin-box {
	border: none;
	margin-bottom: 0
}

.skin-box-hd h3 {
	padding-left: 8px
}

.skin-box-hd h3 span {
	color: #04387f;
	display: block;
	float: left;
	font-family: "微软雅黑";
	font-size: 14px;
	font-weight: 700;
	height: 28px;
	line-height: 28px;
	overflow: hidden
}

.skin-box-hd .skin-box-act {
	position: absolute;
	right: 10px;
	top: 0;
	height: 28px;
	line-height: 28px
}

.skin-box .skin-box-hd {
	background: url(img/e5-box-hd.gif) top repeat-x;
	height: 28px;
	border-bottom: 1px solid #dbdbdb
}

.skin-box .skin-box-bd {
	padding: 0 5px 5px
}

.radius2 {
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px
}

.radius3 {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px
}

.radius5 {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px
}

.radius6 {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px
}

.radius8 {
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px
}

.radius10 {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px
}

.alpha10 {
	filter: alpha(style = 0, opacity = 10);
	filter: alpha(opacity = 10);
	opacity: .1
}

.alpha30 {
	filter: alpha(style = 0, opacity = 30);
	filter: alpha(opacity = 30);
	opacity: .3
}

.alpha60 {
	filter: alpha(style = 0, opacity = 60);
	filter: alpha(opacity = 60);
	opacity: .6
}

.separator {
	border-left: 1px solid #d7d7d7;
	display: inline-block;
	margin: 4px 3px;
	overflow: hidden;
	padding: 0;
	width: 0;
	float: left;
	height: 16px
}

.red {
	color: red
}

.blue {
	color: #0d7aff
}

.green {
	color: #00bc20
}

/*!----------   2015-11-11 15:12:02   ----------*/