<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="commonTemplate :: header">
</head>
<body class="bgcolor-body">
	<div id="page">
		<div th:include="commonTemplate :: headerDiv"></div>
		<div id="content" class="layout">
			<div class="grid-s5m0">
				<div class="col-main">
					<div class="main-wrap">
						<div class="skin-box">
							<div class="skin-box-bd">
								<div class="cur-position">
									<br />
								</div>
								<div class="cont-box">
									<div class="list-table">
										<div class="list-table-cont">
											<div class="guide-box">
												<ul>
													<li>
														<div class="guide-box-item">
															<div class="nb-label">
																<div class="item-cont">
																	<div class="item-list">
																		<span class="span-text"><a th:href="@{user/toUserList.ht}">用户管理</a></span><span class="span-ico"></span> 
																		<span class="span-text"><a th:href="@{role/showList.ht}">权限管理</a></span><span class="span-ico"></span> 
																		<span class="span-text"><a th:href="@{dic/toDicList.ht}">字典管理</a></span>
																		<span class="span-text"><a th:href="@{emp/toEmpList.ht}">员工管理</a></span> <span class="span-ico"></span> 
																		<span class="span-text"><a th:href="@{tuition/toTuitionList.ht}">学费信息管理</a></span>
																	</div><div class="item-list">
																		<span class="span-text"><a th:href="@{disc/toDisList.ht}">优惠信息管理</a></span><span class="span-ico"></span> 
																		<span class="span-text"><a th:href="@{retu/toReturnList.ht}">返费规则管理</a></span><span class="span-ico"></span> 
																		<span class="span-text"><a th:href="@{refund/toRefundList.ht}">退费规则管理</a></span><span class="span-ico"></span> 
																		<span class="span-text"><a th:href="@{stages/toStagesList.ht}">分期规则管理</a></span>
																	</div>
																</div>
																<div class="item-label">
																	<div class="nb-ico">1</div>
																	<div class="item-name">百思信息管理</div>
																	<div class="home-ico home-ico-sub1">
																		<i class="i-arrowdn-ico"></i>
																	</div>
																</div>
															</div>
														</div>
													</li>
													<li>
														<div class="guide-box-item">
															<div class="nb-label">
																<div class="item-cont">
																	<div class="item-list">
																		<span class="span-text"><a th:href="@{stu/toAudStuList.ht}">试听学员管理</a></span> <span class="span-ico"></span>
																		<span class="span-text"><a th:href="@{stu/toForStuList.ht}">正式学员管理</a></span> <span class="span-ico"></span>
																		<span class="span-text"><a th:href="@{cla/toClaList.ht}">班级管理</a></span>
																	</div>
																</div>
																<div class="item-label">
																	<div class="nb-ico">2</div>
																	<div class="item-name">学生信息管理</div>
																	<div class="home-ico home-ico-sub2">
																	</div>
																</div>
															</div>
														</div>
													</li>
												
													<li>
														<div class="guide-box-item">
															<div class="nb-label">
																<div class="item-cont">
																	<div class="item-list">
																		<span class="span-text"><a th:href="@{task/toBacklogList.ht}">我的代办</a></span> <span class="span-ico"></span> 
																		<span class="span-text"><a th:href="@{task/transactTask.ht}">处理代办</a></span> <span class="span-ico"></span>
																		<span class="span-text"><a th:href="@{task/showMyTaskInfo.ht}">代办详情</a></span> <span class="span-ico"></span>
																		<span class="span-text"><a th:href="@{historyDone/toHaveDoneList.ht}">我的已办</a></span>
																	</div>
																</div>
																<div class="item-label">
																	<div class="nb-ico">3</div>
																	<div class="item-name">工作管理</div>
																	<div class="home-ico home-ico-sub6">
																	</div>
																</div>
															</div>
														</div>
													</li>
															<li>
														<div class="guide-box-item">
															<div class="nb-label">
																<div class="item-cont">
																	<div class="item-list">
																		<span class="span-text"><a th:href="@{flow/showPayment.ht}">账单查询</a></span>  <span class="span-ico"></span>
																		<span class="span-text"><a th:href="@{ufees/showUrgeStudents.ht}">催费</a></span>
																	</div>
																</div>
																<div class="item-label">
																	<div class="nb-ico">4</div>
																	<div class="item-name">财务管理</div>
																	<div class="home-ico home-ico-sub5">
																	</div>
																</div>
															</div>
														</div>
													</li>
													
													
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div th:include="commonTemplate :: leftMenus"></div>
			</div>
		</div>
		<div th:include="commonTemplate :: footer"></div>
	</div>
	<div th:include="commonTemplate :: processBar" />
	<script th:inline="javascript">
		function showCodeImage(imageUrl) {
			if(imageUrl) {
				imageUrl = [[${#sysCache.getSysParam('file.server.url')}]] + imageUrl;
				/*<![CDATA[*/
				var dom = "<image src='" + imageUrl + "' style='width:300px;height:300px;' />"
				//_alert(dom);
					layer.open({
				    type: 1,
				    title : '扫描二维码',
				    shade : [0],
				    closeBtn: false, //不显示关闭按钮
				    area: ['305px', '340px'],
				    shift: 2,
				    shadeClose: true, //开启遮罩关闭
				    content: dom
				});
				/*]]>*/
			} else {
				_alert("二维码图片链接为空");
			}
		}
	</script>
</body>
</html>