<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:replace="commonTemplate :: header">
</head>
<body>
<div class="lyear-layout-web">
	<div class="lyear-layout-container">
		<!--左侧导航-->
		<div th:replace="commonTemplate :: leftMenus"></div>
		<!--End 左侧导航-->

		<!--头部信息-->
		<div th:replace="commonTemplate :: headerDiv"></div>
		<!--End 头部信息-->

		<!--页面主要内容-->
		<main class="lyear-layout-content">
			<!-- ==================================== 页面内容开始 ============================= -->
			<div class="container-fluid">
				<form id="basefrm" th:action="@{emp/toSaveEmps.ht(empTable=employeeFamily)}" autocomplete="off" enctype="multipart/form-data" method="post">
					<div class="row">
						<div class="col-lg-12">
							<div class="card">
								<div class="card-body">
									<ul id="myTabs" class="nav nav-tabs" role="tablist">
										<li >
											<a href="javascript:void(0)"> <span onclick="notEmpJump();">基本信息</span> <span class="separator"></span> </a>
										</li>
										<li>
											<a href="javascript:void(0)" > <span onclick="notSupJump();">附加信息</span> <span class="separator"></span> </a>
										</li>
										<li>
											<a href="javascript:void(0)"><span onclick="notEduJump();" >教育信息</span> <span class="separator"></span> </a>
										</li>
										<li >
											<a href="javascript:void(0)"> <span onclick="notWorkJump();">履历信息</span> <span class="separator"></span> </a>
										</li>
										<li class="active">
											<a href="javascript:void(0)"> <span>家庭信息</span> <span class="separator"></span> </a>
										</li>
									</ul>
									<table class="table table-hover">
										<tr>
											<td align="right" width="25%">
												<span style="color:red">*</span>
												<span>输入家人姓名：</span>
											</td>
											<td>
												<span>
													<input type="hidden" id="PK_BEFI" name="PK_BEFI" th:value="${fam.PK_BEFI}" />
																						<input type="hidden" id="empId" name="empId" th:value="${fam.empId}" />
																						<input type="hidden" name="operationSuccess" id="operationSuccess" th:value="${operationSuccess}"/>
																						<input type="text" class="form-control" id="empFamName" name="empFamName" th:value="${fam.empFamName}"  placeholder="输入家人姓名"/>
													</span>
											</td>
										</tr>
										<tr>
											<td align="right" width="25%">
												<span style="color:red">*</span>
												<span>选择家人性别：</span>
											</td>
											<td>
												<select name="empFamSex" id="empFamSex" class="form-control">
													<option></option>
													<option value="1" th:if="${fam.empFamSex == '1'}" selected="selected">男</option>
													<option value="1" th:if="${fam.empFamSex != '1'}" >男</option>
													<option value="0" th:if="${fam.empFamSex == '0'}" selected="selected" >女</option>
													<option value="0" th:if="${fam.empFamSex != '0'}" >女</option>
												</select>
											</td>
										</tr>
										<tr>
											<td align="right" width="25%">
												<span style="color:red">*</span>
												<span>输入家人电话：</span>
											</td>
											<td>
												<input type="text" class="form-control" id="empFamTel" name="empFamTel" th:value="${fam.empFamTel}"  placeholder="输入家人电话"  />
											</td>
										</tr>
										<tr>
											<td align="right" width="25%">
												<span style="color:red">*</span>
												<span>选择家人关系：</span>
											</td>
											<td>
												<select name="empFamRelation" id="empFamRelation" class="form-control">
													<option></option>
													<option value="父子" th:if="${fam.empFamRelation == '父子'}" selected="selected">父子</option>
													<option value="父子" th:if="${fam.empFamRelation != '父子'}" >父子</option>
													<option value="母子" th:if="${fam.empFamRelation == '母子'}" selected="selected" >母子</option>
													<option value="母子" th:if="${fam.empFamRelation != '母子'}" >母子</option>
													<option value="父女" th:if="${fam.empFamRelation == '父女'}" selected="selected">父女</option>
													<option value="父女" th:if="${fam.empFamRelation != '父女'}" >父女</option>
													<option value="母女" th:if="${fam.empFamRelation == '母女'}" selected="selected" >母女</option>
													<option value="母女" th:if="${fam.empFamRelation != '母女'}" >母女</option>
													<option value="配偶" th:if="${fam.empFamRelation == '配偶'}" selected="selected" >配偶</option>
													<option value="配偶" th:if="${fam.empFamRelation != '配偶'}" >配偶</option>
													<option value="姐妹" th:if="${fam.empFamRelation == '姐妹'}" selected="selected" >姐妹</option>
													<option value="姐妹" th:if="${fam.empFamRelation != '姐妹'}" >姐妹</option>
													<option value="兄弟" th:if="${fam.empFamRelation == '兄弟'}" selected="selected" >兄弟</option>
													<option value="兄弟" th:if="${fam.empFamRelation != '兄弟'}" >兄弟</option>
													<option value="其他" th:if="${fam.empFamRelation == '其他'}" selected="selected" >其他</option>
													<option value="其他" th:if="${fam.empFamRelation != '其他'}" >其他</option>
												</select>
											</td>
										</tr>
									</table>
									<div align="center">
										<span class="grey"> <input value="返回上级"
																   type="button" onclick="returnBack();"
																   class="btn btn-warning	" />
																</span> <span> <input value="确定保存" type="submit"
																					  class="btn btn-success" />
																</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
			<!-- ============================= 页面内容 结束 ============================= -->
		</main>
		<!-- END 页面主要内容  -->
	</div>
</div>

<script type="text/javascript" th:src="@{js/jquery-1.11.3.min.js}"></script>
<script type="text/javascript" th:src="@{js/main.min.js}"></script>
<script type="text/javascript" th:src="@{js/public-obj.js}"></script>
<script type="text/javascript" th:src="@{js/bind.js}"></script>
<script type="text/javascript" th:src="@{js/controls.js}"></script>
<script type="text/javascript" th:src="@{js/slide.js}"></script>
<script type="text/javascript" th:src="@{js/switch.js}"></script>
<script type="text/javascript" th:src="@{js/initial.js}"></script>
<script type="text/javascript" th:src="@{js/printhtml.js}"></script>
<script type="text/javascript"
		th:src="@{js/plugins/My97DatePicker/WdatePicker.js}"></script>
<script type="text/javascript"
		th:src="@{js/plugins/file/uploadify/jquery.uploadify.min.js}"></script>
<script type="text/javascript" th:src="@{js/plugins/layer/layer.js}"></script>
<script type="text/javascript"
		th:src="@{js/plugins/select2/select2.full.min.js}"></script>
<script type="text/javascript"
		th:src="@{js/plugins/select2/i18n/zh-CN.js}"></script>
<script type="text/javascript"
		th:src="@{js/plugins/treeview/jquery.treeview.js}"></script>
<script type="text/javascript"
		th:src="@{js/plugins/form/jquery.form.js}"></script>
<script type="text/javascript"
		th:src="@{js/plugins/ztree/jquery.ztree.core-3.5.js}"></script>
<script type="text/javascript"
		th:src="@{js/plugins/ztree/jquery.ztree.excheck-3.5.js}"></script>
<script type="text/javascript" th:src="@{js/plugins/comm/constant.js}"></script>
<script type="text/javascript" th:src="@{js/plugins/comm/common.js}"></script>
<script type="text/javascript"
		th:src="@{js/plugins/comm/appconstans.js}"></script>
<script type="text/javascript" th:src="@{js/plugins/comm/bmsAjax.js}"></script>
<script type="text/javascript" th:src="@{js/plugins/comm/validata.js}"></script>
<script type="text/javascript"
		th:src="@{js/plugins/validate/jquery.validate.min.js}"></script>
<script type="text/javascript"
		th:src="@{js/plugins/validate/localization/messages_zh.min.js}"></script>
<script type="text/javascript"
		th:src="@{js/plugins/validate/regValidate.js}"></script>
<script type="text/javascript" th:src="@{js/popup_layer.js}"></script>
<script type="text/javascript"
		th:src="@{js/plugins/kxbdmarquee/js/jquery.kxbdmarquee.js}"></script>
<script type="text/javascript"
		th:src="@{js/textScroll.js}"></script>
<script type="text/javascript" th:src="@{js/app.js}"></script>
<script type="text/javascript" th:src="@{js/plugins/layer/layui.js}"></script>
<script type="text/javascript" th:src="@{js/bootstrap-datepicker.min.js}"></script>
<script type="text/javascript" th:src="@{js/bootstrap-datepicker.zh-CN.min.js}"></script>
<script type="text/javascript" th:src="@{js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{js/perfect-scrollbar.min.js}"></script>
<script th:inline="javascript">
	$(function(){
		$("#empFamSex").select2({
			placeholder : "请选择性别"
		});
		$("#empFamRelation").select2({
			placeholder : "请选择家人关系"
		});
	});


	/*******************************操作成功提示信息***********************************/
	$(function(){
		var operationSuccess = $("#operationSuccess").val();
		if(operationSuccess != ""){
			_alert(operationSuccess);
		}
	});
	/***************************表单校验***************************************/
	$(function(){
		setValidate($("#basefrm"),{
			rules: {
				empFamSex:{required: true},
				empFamRelation:{required: true},
				empFamName:{required: true,maxlength: 21,minlength:2},
				empFamTel:{required: true,phone_number:true}

			},
			messages:{
				empFamSex:{required: "*请选择家人性别"},
				empFamRelation:{required: "*请选择家人关系"},
				empFamName:{required: "*请输入家人姓名",maxlength: "字符太长，最多可以输入21个字符",minlength:"最少输入两个字符"},
				empFamTel:{required: "*请输入家人手机号"}

			}
		});
		/* =========================================手机号码校验======================================================= */
		$.validator.addMethod("phone_number", function(value, element) {
			var length = value.length;
			var phone_number = /^((13[0-9])|(14[5,7,9])|(15[^4])|(18[0-9])|(17[0,1,3,5,6,7,8]))\d{8}$/
			return this.optional(element) || (phone_number.test(value)); }, "*手机号码格式错误");
	});
	function notSupJump(){
		var empId = document.getElementById("empId").value;
		if(empId==null || empId == ""){
			_alert("请先保存当前页面");
		}else {
			locationHref(basePath+'/emp/empPageJump.ht'+ "?empTable=employeeSupplementJump");
		}
	};
	function notEduJump(){
		var empId = document.getElementById("empId").value;
		if(empId==null || empId == ""){
			_alert("请先保存当前页面");
		}else {
			locationHref(basePath+'/emp/empPageJump.ht' + "?empTable=employeeEducationJump");
		}
	};
	function notEmpJump(){
		var empId = document.getElementById("empId").value;
		if(empId==null || empId == ""){
			_alert("请先保存当前页面");
		}else {
			locationHref(basePath+'/emp/empPageJump.ht' + "?empTable=employeeEmployeeJump");
		}
	};

	function notWorkJump(){
		var empId = document.getElementById("empId").value;
		if(empId==null || empId == ""){
			_alert("请先保存当前页面");
		}else {
			locationHref(basePath+'/emp/empPageJump.ht' + "?empTable=employeeWorkJump");
		}
	};
	function notFamJump(){
		var empId = document.getElementById("empId").value;
		if(empId==null || empId == ""){
			_alert("请先保存当前页面");
		}else {
			locationHref(basePath+'/emp/empPageJump.ht'+ "?empTable=employeeFamilyJump");
		}
	};

	function returnBack(){
		var url = basePath+'/emp/toEmpList.ht';
		locationHref(url);
	};

</script>
</body>
</html>