<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="commonTemplate :: header">
</head>
<body class="bgcolor-body">
	<div id="page">
		<div th:include="commonTemplate :: headerDiv"></div>
		<div id="content" class="layout">
			<div class="grid-s5m0">
				<!-- ============================= 页面内容 开始============================= -->
				<div class="col-main">
					<div class="main-wrap">
						<div class="skin-box">
							<div class="skin-box-bd">
								<div class="cur-position">
									<span><a href="javascript:void(0);">打卡管理</a> </span> <span>&gt;</span>
									<span><a th:href="@{attence/toEmpList.ht}">员工信息</a> </span>
								</div>
								<form th:action="@{attence/toEmpList.ht}" id="frm" name="frm"
									method="post">
									<div class="cont-box">
										<div class="search-box">
											<div class="right">
												<div class="search-box-cont">
													<span> 
													<input class="button" type="button"
														value="搜索" onclick="frmSubmit();" />
													</span> <span> <input class="input radius3"
														onblur="check();" id="itemlableSearch"
														name="itemlableSearch" th:value="${itemlableSearch}"
														type="text" placeholder="输入用户名" style="width: 226px" />
													</span> 
												</div>
											</div>
										</div>
										<div class="list-table">
											<div class="list-table-cont">
												<div class="table2">
													<table class="ks-inputall">
														<tr class="th">
															<td class="col1">员工姓名</td>
															<td class="col2">员工手机号</td>
															<td class="col3">员工家庭住址</td>
															<td class="col4">员工职位</td>
															<td class="col5">员工入职时间</td>
														</tr>
														<tr th:each="info:${pageResult.list}"
															th:if="${pageResult.list != null &amp;&amp; pageResult.list.size() > 0}"
															onmouseover="this.style.backgroundColor='#e3f1ff'"
															onmouseout="this.style.backgroundColor='#ffffff'">
															<td class="col1"><span style="cursor: pointer"
																title="点击查看考勤详情"
																th:onclick="'edit(\'' + ${info.empId} + '\', \''+${info.empName}+ '\')'"
																th:text="${info.empName}"></span></td>
															<td class="col2"><span style="cursor: pointer"
																title="点击查看考勤详情"
																th:onclick="'edit(\'' + ${info.empId} + '\', \''+${info.empName}+ '\')'"
																th:text="${info.empMobile}"></span></td>
															<td class="col3"><span style="cursor: pointer"
																title="点击查看考勤详情"
																th:onclick="'edit(\'' + ${info.empId} + '\', \''+${info.empName}+ '\')'"
																th:if="${info.empHomeAddress != null }"
																th:text="${info.empHomeAddress }"></span> <span
																style="cursor: pointer; color: gray;" title="点击查看考勤详情"
																th:onclick="'edit(\'' + ${info.empId} + '\', \''+${info.empName}+ '\')'"
																th:if="${info.empHomeAddress == null }" th:text="暂未填写"></span>
															</td>
															<td class="col4"><span style="cursor: pointer"
																title="点击查看考勤详情"
																th:onclick="'edit(\'' + ${info.empId} + '\', \''+${info.empName}+ '\')'"
																th:text="${info.empJob}"></span></td>
															<td class="col5"><span style="cursor: pointer"
																title="点击查看考勤详情"
																th:onclick="'edit(\'' + ${info.empId} + '\', \''+${info.empName}+ '\')'"
																baisee:fmt="yyyy-MM-dd,${info.empRegTime }"></span></td>
														</tr>
													</table>
												</div>
											</div>
										</div>
										<div th:include="commonTemplate :: pageBox"></div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<!-- ============================= 页面内容 结束============================= -->
				<div th:include="commonTemplate :: leftMenus"></div>
			</div>
		</div>
		<div th:include="commonTemplate :: footer"></div>
	</div>
	<div th:include="commonTemplate :: processBar" />

	<script th:inline="javascript">
	
		function edit(id,name){
			/*<![CDATA[*/
			 locationHref([[@{/attence/toAttenceList.ht}]] + "?empId=" + id+ "&&eName=" + name);
	    	 /*]]>*/
		}
		
		var bool = true;
		function frmSubmit(){
			if(bool == true){
				document.getElementById("frm").submit();
			}
		} 
		
		function check(){ 
			bool = true;
			var itemlableSearch=$("#itemlableSearch").val();
			var Correct = /^[A-Za-z0-9\u4e00-\u9fa5]+$/;
			if(itemlableSearch != ""){
				if (!Correct.test(itemlableSearch)){
					bool = false;
					_alert("含有非法字符，请正确输入！");
					$("#itemlableSearch").val("");
				} else{
					bool = true;
				}
			}
		} 
		
	</script>
</body>
</html>
