<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:replace="commonTemplate :: header">
</head>
<body>
<div class="lyear-layout-web">
	<div class="lyear-layout-container">
		<!--左侧导航-->
		<div th:replace="commonTemplate :: leftMenus"></div>
		<!--End 左侧导航-->

		<!--头部信息-->
		<div th:replace="commonTemplate :: headerDiv"></div>
		<!--End 头部信息-->

		<!--页面主要内容-->
		<main class="lyear-layout-content">
			<!-- ==================================== 页面内容开始 ============================= -->
			<div class="container-fluid">
				<form id="busTypeForm" name="busTypeForm" autocomplete="off" >
					<div class="row">
						<div class="col-lg-12">
							<div class="card">
								<div class="card-body">
									<ul id="myTabs" class="nav nav-tabs" role="tablist">
										<li class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab">宿舍信息</a></li>
										<li><a onclick="checkIn()" role="tab" id="profile-tab" data-toggle="tab">入住\退宿</a></li>
									</ul>
									<table class="table table-hover">
										<tr>
											<td align="right" width="25%">
												<span style="color:red">*</span>
												<span>楼层：</span>
											</td>
											<td>
												<span><input type="hidden" id="id" name="id"
															 th:value="${dorm.id}" />
													<input type="text"
																							class="form-control" id="floor" name="floor"
																							th:value="${dorm.floor}" /> </span>
											</td>
										</tr>
										<tr>
											<td  align="right" width="25%">
												<span style="color:red">*</span>
												<span>宿舍编号：</span>
											</td>
											<td>
													<span><input type="text"
																 class="form-control" id="dorm" name="dorm"
																 th:value="${dorm.dorm}" /></span>
											</td>
										</tr>
										<tr>
											<td  align="right" width="25%">
												<span style="color:red">*</span>
												<span>床位：</span>
											</td>
											<td>
												<span><input type="text"
															 class="form-control" id="number" name="number"
															 th:value="${dorm.number}" /></span>
											</td>
										</tr>
										<tr>
											<td  align="right" width="25%">
												<span style="color:red">*</span>
												<span>男/女：</span>
											</td>
											<td>
												<select name="gender" id="gender" class="form-control">
													<option></option>
													<option value="1" th:if="${dorm.gender == '1'}"
															selected="selected">女</option>
													<option value="1" th:if="${dorm.gender != '1'}">女</option>
													<option value="0" th:if="${dorm.gender == '0'}"
															selected="selected">男</option>
													<option value="0" th:if="${dorm.gender != '0'}">男</option>
												</select>
											</td>
										</tr>
										<tr>
											<td  align="right" width="25%">
												<span style="color:red">*</span>
												<span>学籍：</span>
											</td>
											<td>
												<select name="stype" id="stype" class="form-control">
													<option></option>
													<option value="1" th:if="${dorm.stype == '1'}"
															selected="selected">高中</option>
													<option value="1" th:if="${dorm.stype != '1'}">高中</option>
													<option value="0" th:if="${dorm.stype == '0'}"
															selected="selected">初中</option>
													<option value="0" th:if="${dorm.stype != '0'}">初中</option>
												</select>
											</td>
										</tr>
									</table>
									<div align="center">
										<input value="返回上一级" id="c" onclick="returnBack();" type="button" class="btn btn-info btn-w-md" />
										<input value="保存" id="d"  type="button" onclick="saveDorm();" class="btn btn-warning btn-w-md"/>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
			<!-- ============================= 页面内容 结束 ============================= -->
		</main>
		<!-- END 页面主要内容  -->
	</div>
</div>

<script type="text/javascript" src="js/jquery.min.js" th:src="@{static/js/jquery.min.js}"></script>
<script type="text/javascript" src="js/main.min.js" th:src="@{static/js/main.min.js}"></script>
<script type="text/javascript"  src="js/bootstrap-table/bootstrap-table.js"  th:src="@{static/js/bootstrap-table/bootstrap-table.js}"></script>
<script type="text/javascript" th:src="@{js/plugins/layer/layer.js}"></script>
<script type="text/javascript" th:src="@{js/plugins/comm/bmsAjax.js}"></script>
<script type="text/javascript" src="js/bootstrap.min.js" th:src="@{static/js/bootstrap.min.js}"></script>
<script type="text/javascript" src="js/perfect-scrollbar.min.js" th:src="@{static/js/perfect-scrollbar.min.js}"></script>
<script type="text/javascript" src="js/bootstrap.min.js"  th:src="@{js/bootstrap.min.js}"></script>
<script type="text/javascript" src="js/perfect-scrollbar.min.js" th:src="@{js/perfect-scrollbar.min.js}"></script>
<script type="text/javascript" src="js/bootstrap-3.0.0/js/bootstrap-datepicker.min.js" th:src="@{js/bootstrap-datepicker.min.js}"></script>
<script type="text/javascript" src="js/bootstrap-3.0.0/js/bootstrap-datepicker.zh-CN.min.js" th:src="@{js/bootstrap-datepicker.zh-CN.min.js}"></script>
<script type="text/javascript" src="js/main.min.js" th:src="@{js/main.min.js}"></script>
<script type="text/javascript" th:src="@{js/plugins/comm/common.js}"></script>
<script type="text/javascript" th:src="@{js/plugins/select2/select2.full.min.js}"></script>
<script type="text/javascript" th:src="@{js/plugins/My97DatePicker/WdatePicker.js}"></script>
<script type="text/javascript" th:src="@{js/plugins/comm/validata.js}"></script>
<script type="text/javascript"
		th:src="@{js/plugins/validate/jquery.validate.min.js}"></script>
<script type="text/javascript" th:src="@{js/app.js}"></script>
<script type="text/javascript"
		th:src="@{js/plugins/treeview/jquery.treeview.js}"></script>
<script type="text/javascript"
		th:src="@{js/plugins/form/jquery.form.js}"></script>
<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
	var basePath = /*[[@{/}]]*/;
	/*]]>*/
</script>
<script th:inline="javascript">
	$(function(){
		$(window.top.document).find("#_proccesBar").css("visibility", "hidden");
		var operationSuccess = $("#operationSuccess").val();
	});
	$(function(){
		$("#gender").select2({
			placeholder : "-请选择-"
		});
		$("#stype").select2({
			placeholder : "-请选择-"
		});
	});
	function checkIn(){
		var id = $("#id").val();
		var number = $("#number").val();
		if(id==null || id == ""){
			_alert("请先保存当前页面");
		}else {
			/*<![CDATA[*/
			locationHref(basePath + "/dorm/check.ht?dormId=" + id+ "&&number=" + number)
			/*]]>*/
		}
	};

	function returnBack(){
		var url = [[@{'/dorm/view.ht'}]];
		locationHref(url);
	};
	function saveDorm(){
		var gender = $("#gender").val();
		var stype = $("#stype").val();
		var id = $("#id").val();
		var dorm = $("#dorm").val();
		var floor = $("#floor").val();
		var number = $("#number").val();
		var res = true;
		$("#busTypeForm").find("input:not(#id):not(#c):not(#d)").each(function(i,n){
			if($(n).val()==null|| $(n).val()==""){
				_alert("请填写必输字段！");
				res =  false;
				return false;
			}
			if (i != 1) {
				if (isNaN($(n).val())){
					console.log()
					_alert("非法字符，只能输入数字！！！");
					$(n).val('')
					res =  false;
					return false;
				}
			}

		})
		if(gender==null|| gender==""){
			_alert("请选择性别！");
			res =  false;
			return false;
		}
		if(stype==null|| stype==""){
			_alert("请选择学籍！");
			res =  false;
			return false;
		}

		if(res){
			var data = {
				"id":id,
				"gender":gender,
				"stype":stype,
				"floor":floor,
				"dorm":dorm,
				"number":number,
			}
			var url = basePath+'/dorm/merge.ht';
			App.post(url,data,function(resp){
				console.log(resp);
				if(resp==0){
					_alert("修改成功！");
				}else if(resp==-1){
					_alert("退宿后才可修改！");
				}else if(resp==-2){
					_alert("宿舍已存在！");
				}else{
					_alert("保存成功！");
					//_alert(resp);
					$("#id").attr("value",resp);
				}
			},function(resp){
				_alert("保存失败！");
			})
		}
	}
</script>
</body>
</html>