<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head th:include="commonTemplate :: header">
	</head>
	<body class="bgcolor-body">
		<div id="page">
			<div th:include="commonTemplate :: headerDiv"></div>
			<div id="content" class="layout">
				<div class="grid-s5m0">
					<div class="col-main">
						<div class="main-wrap">
							<div class="skin-box">
								<div class="skin-box-bd">
									<div class="cur-position">
										<span><a href="javascript:void(0)">信息管理</a> </span>
										<span>&gt;</span>
										<span><a th:href="@{stu/toForStuList.ht}">学生信息</a> </span>
										<span>&gt;</span>
										<span><a href="javascript:void(0)">编辑信息</a> </span>
									</div>
									<!-- ==================================== 页面内容开始 ============================= -->
									<div class="cont-box">
										<div class="JsW skin-box-bd" data-widget-type="tab" data-widget-config="{'activeIndex':2}">
											<div class="skin-bd-box">
												<div class="content-box-menu">
													<ul >
														<li>
															<a href="javascript:void(0)"> <span onclick="notstuJump();" >基本信息</span> <span class="separator"></span> </a>
														</li>
														<li >
															<a href="javascript:void(0)" > <span onclick="notSupJump();">附加信息</span> <span class="separator"></span> </a>
														</li>
														<li class="active">
															<a href="javascript:void(0)"><span>教育信息</span> <span class="separator"></span> </a>
														</li>
														<li>
															<a href="javascript:void(0)"> <span onclick="notFamJump();">家庭信息</span> <span class="separator"></span> </a>
														</li>
														
													</ul>
												</div>
												<div class="list-table">
													<div class="list-table-cont">
														<div class="table6">
														
															<form id="basefrm" name="basefrm"  th:action="@{stu/toUpdateForStu.ht(stuTable=forStudentEducation)}" method="post" enctype="multipart/form-data">
																<table>
																	<tr>
																		<td>
																			<div class="left">
																				<div class="td1">
																					<span class="red"></span><span>入学时间：</span>
																				</div>
																				<div class="td2">
																					<span>
																						<input type="hidden" id="pkBegi" name="pkBegi" th:value="${edu.pkBegi}" />
																						<input type="hidden" id="stuId" name="stuId" th:value="${edu  .stuId}" />
																						<input type="hidden" name="operationSuccess" id="operationSuccess" th:value="${operationSuccess}"/>
																						<input type="text" class="radius3 input" id="stuStartTime" name="stuStartTime" th:value="${edu.stuStartTime}" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',readOnly:true})" />
																					</span>
																				</div>
																			</div>		
																		</td>
																	</tr>
																	<tr>
																		<td>
																			<div class="left">
																				<div class="td1">
																					 <span class="red"></span><span>毕业时间：</span>
																				</div>
																				<div class="td2">
																					 <span><input type="text" class="radius3 input" id="stuEndTime" name="stuEndTime" th:value="${edu.stuEndTime}"  onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',readOnly:true})" /></span>
																				</div>
																			</div>	
																		</td>
																	</tr>
																	<tr>
																		<td >   
																			   <div class="left">
																					<div class="td1">
																						<span class="red"></span><span>输入毕业院校：</span>
																					</div>
																					<div class="td2">
																						<span><input type="text" class="radius3 input" id="stuGraduatedSchool" name="stuGraduatedSchool" th:value="${edu.stuGraduatedSchool}"    /></span>
																					</div>
																			   </div>                                                        
																		</td>
																	</tr>
																	<tr>
																		<td>
																			<div class="left">
																				<div class="td1">
																					<span class="red"></span><span>选择学历：</span>
																				</div>
																				<div class="td2">
																					<div class="control-css3select css3select-icon-hide">
																						<select name="stuDegree" id="stuDegree" class="radius3">
																							<option></option>
																							<option value="大专及以上" th:if="${edu.stuDegree == '大专及以上'}" selected="selected" >大专及以上</option>
																							<option value="大专及以上" th:if="${edu.stuDegree != '大专及以上'}" >大专及以上</option>
																							<option value="高中" th:if="${edu.stuDegree == '高中'}" selected="selected" >高中</option>
																							<option value="高中" th:if="${edu.stuDegree != '高中'}" >高中</option>
																							<option value="初中及以下" th:if="${edu.stuDegree == '初中及以下'}" selected="selected">初中及以下</option>
																							<option value="初中及以下" th:if="${edu.stuDegree != '初中及以下'}" >初中及以下</option>
																						</select>
																					</div>
																				</div>
																			</div>	
																		</td>
																	</tr>
																	
																	<tr>
																		<td>
																			<div class="left">
																				<div class="td1">
																					<span class="red"></span><span>输入专业：</span>
																				</div>
																				<div class="td2">
																					<span><input type="text" class="radius3 input" id="stuMajor" name="stuMajor" th:value="${edu.stuMajor}" /></span>
																				</div>
																			</div>	
																		</td>
																	</tr>
																	
																</table>
																<div class="redbutton control-button JsW"  >
																<span class="grey"> <input value="返回上级" type="button" onclick="returnBack();" class="radius5 button ks-pop-close1" /> </span>
																	<span baisee:ctrl="ZSXYGL_XYXG"> <input value="确定保存" type="submit"  class="radius5 button ks-pop-close1" /> </span>
																	
																</div>
															</form>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<!-- ============================= 页面内容 结束============================= -->
								</div>
							</div>
						</div>
					</div>
					<div th:include="commonTemplate :: leftMenus"></div>
				</div>
			</div>
			<div th:include="commonTemplate :: footer"></div>
		</div>
		<div th:include="commonTemplate :: processBar" />
		<script th:inline="javascript"> 
		$(function(){
			var operationSuccess = $("#operationSuccess").val();
			if(operationSuccess != ""){
				_alert(operationSuccess);
			}
		});
		$(function(){
			$("#stuDegree").select2({
				placeholder : "请选择学历"
			});
		});
		
		$(function(){
		/* 	setValidate($("#basefrm"),{
				rules: {
					stuStartTime:{required: true},
					stuEndTime:{required: true},
					stuGraduatedSchool:{required: true,stuGraduatedSchool: true},
					stuDegree:{required: true},
					stuMajor:{stuMajor:true}
				},
				messages:{
					stuStartTime:{required: "*请输入入学时间!"},
					stuEndTime:{required: "*请输入毕业时间!"},
					stuGraduatedSchool:{required: "*请填写毕业院校!"},
					stuDegree:{required: "*请选择学历!"},
				}
			}); */
		});
		//毕业院校校验
		$.validator.addMethod("stuGraduatedSchool", function(value, element) { 
			var length = value.length; 
			var stuGraduatedSchool =  /^[\u4E00-\u9FA5A-Za-z]+$/
				
			return this.optional(element) || (stuGraduatedSchool.test(value)); 
		}, "*毕业院校只能输入中文和英文!"); 
		//专业校验
		$.validator.addMethod("stuMajor", function(value, element) { 
			var length = value.length; 
			var stuMajor =  /^[\u4E00-\u9FA5A-Za-z]+$/
				
			return this.optional(element) || (stuMajor.test(value)); 
		}, "*专业只能输入中文和英文!");
		function notSupJump(){
			var stuId = document.getElementById("stuId").value;
			if(stuId==null || stuId == ""){
				_alert("请先保存当前页面");
			}else {
				locationHref([[@{'/stu/stuPageJump.ht'}]] + "?stuTable=forStudentSupplementJump");
			}
		};
		function notstuJump(){
			var stuId = document.getElementById("stuId").value;
			if(stuId==null || stuId == ""){
				_alert("请先保存当前页面");
			}else {
				locationHref([[@{'/stu/stuPageJump.ht'}]] + "?stuTable=forStudentJump");
			}
		};
		function notFamJump(){
			var stuId = document.getElementById("stuId").value;
			if(stuId==null || stuId == ""){
				_alert("请先保存当前页面");
			}else {
				locationHref([[@{'/stu/stuPageJump.ht'}]] + "?stuTable=forStudentFamilyJump");
			}
		};
		
		function returnBack(){
			var url = [[@{'/stu/toForStuList.ht'}]];
			locationHref(url);
		};
		</script>
	</body>
</html>