<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:replace="commonTemplate :: header">
</head>
<body>
	<div class="lyear-layout-web">
		<div class="lyear-layout-container">
			<!--左侧导航-->
			<div th:replace="commonTemplate :: leftMenus"></div>
			<!--End 左侧导航-->

			<!--头部信息-->
			<div th:replace="commonTemplate :: headerDiv"></div>
			<!--End 头部信息-->

			<!--页面主要内容-->
			<main class="lyear-layout-content"> <!-- ==================================== 页面内容开始 ============================= -->
			<div class="container-fluid">
				<form id="busTypeForm"
					th:action="@{stu/toSaveOrUpdateAudStu.ht(stuTable=audStudentEducation)}"
					autocomplete="off" method="post" th:object="${info}"
					onsubmit="hello();"
					enctype="multipart/form-data">
					<div class="row">
						<div class="col-lg-12">
							<div class="card">
								<div class="card-body">
									<ul id="myTabs" class="nav nav-tabs" role="tablist">
				 						<li><a onclick="notstuJump();" href="javascript:void(0);" id="home-tab" role="tab" data-toggle="tab">基础信息</a></li>
										<li><a role="tab" id="profile-tab" onclick="notSupJump();" data-toggle="tab">附加信息</a></li>
										<li  class="active"><a role="tab" id="profile-tab" data-toggle="tab">教育信息</a></li>
										<li><a onclick="notFamJump();" role="tab" id="profile-tab" data-toggle="tab">家庭信息</a></li>
									</ul>
									<input type="hidden" name="dictId" />
									<table class="table table-hover">
										<tbody>
											<tr>
												<td align="right" width="25%">
													<span style="color: red">*</span>
													<span>入学时间：</span>  
												</td>
												<td>
													<span>
														<input type="hidden" id="pkBegi" name="pkBegi" th:value="${edu.pkBegi}" />
														<input type="hidden" id="stuId" name="stuId" th:value="${edu.stuId}" />
														<input type="hidden" name="operationSuccess" id="operationSuccess" th:value="${operationSuccess}"/>
														<input type="text" placeholder="请选择入学时间" class="radius3 input" id="stuStartTime"  name="stuStartTime" th:value="${edu.stuStartTime}"  onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',maxDate:'new Date();',readOnly:true })" />
													</span>
												</td>
											</tr>
											<tr>
												<td align="right" width="25%">
													<span style="color: red">*</span>
													<span>毕业时间：</span>
												</td>
												<td>
													<span>
														<input type="text" placeholder="请选择毕业时间" class="radius3 input" id="stuEndTime"  name="stuEndTime" th:value="${edu.stuEndTime}"  onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',maxDate:'new Date();',readOnly:true })" />
													</span>
												</td>
											</tr>
											<tr>
												<td align="right" width="25%">
													<span style="color: red">*</span>
													<span>输入毕业院校：</span>
												</td>
												<td>
													<span>
														<input type="text" class="form-control" id="stuGraduatedSchool" name="stuGraduatedSchool" th:value="${edu.stuGraduatedSchool}" />
													</span>
												</td>
											</tr>
											<tr>
												<td align="right" width="25%"><span style="color: red">*</span>
													<span>选择学历：</span></td>
												<td>
													<select name="stuDegree" id="stuDegree" class="form-control">
														<option></option>
														<option value="大专及以上" th:if="${edu.stuDegree == '大专及以上'}" selected="selected" >大专及以上</option>
														<option value="大专及以上" th:if="${edu.stuDegree != '大专及以上'}" >大专及以上</option>
														<option value="高中" th:if="${edu.stuDegree == '高中'}" selected="selected" >高中</option>
														<option value="高中" th:if="${edu.stuDegree != '高中'}" >高中</option>
														<option value="初中及以下" th:if="${edu.stuDegree == '初中及以下'}" selected="selected">初中及以下</option>
														<option value="初中及以下" th:if="${edu.stuDegree != '初中及以下'}" >初中及以下</option>
													</select>
												</td>
											</tr>

											<tr>
												<td align="right" width="25%">
													<span style="color: red">*</span>
													<span>输入专业：</span>
												</td>
												<td>
													<input type="text" class="form-control" id="stuMajor" name="stuMajor" th:value="${edu.stuMajor}" />
												</td>
											</tr>
										</tbody>
									</table>
									<div align="center">
										<input value="返回上一级" onclick="returnBack();" type="button" class="btn btn-info btn-w-md" /> 
										<input value="保存" type="submit" th:onclick="'stuAuditionStartTime()'" class="btn btn-warning btn-w-md" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
			<!-- ============================= 页面内容 结束 ============================= -->
			</main>
			<!-- END 页面主要内容  -->
		</div>
	</div>

	<script type="text/javascript" th:src="@{js/jquery-1.11.3.min.js}"></script>
	<script type="text/javascript" th:src="@{js/public-obj.js}"></script>
	<script type="text/javascript" th:src="@{js/bind.js}"></script>
	<script type="text/javascript" th:src="@{js/controls.js}"></script>
	<script type="text/javascript" th:src="@{js/slide.js}"></script>
	<script type="text/javascript" th:src="@{js/switch.js}"></script>
	<script type="text/javascript" th:src="@{js/initial.js}"></script>
	<script type="text/javascript" th:src="@{js/printhtml.js}"></script>
	<script type="text/javascript"
		th:src="@{js/plugins/My97DatePicker/WdatePicker.js}"></script>
	<script type="text/javascript"
		th:src="@{js/plugins/file/uploadify/jquery.uploadify.min.js}"></script>
	<script type="text/javascript" th:src="@{js/plugins/layer/layer.js}"></script>
	<script type="text/javascript"
		th:src="@{js/plugins/select2/select2.full.min.js}"></script>
	<script type="text/javascript"
		th:src="@{js/plugins/select2/i18n/zh-CN.js}"></script>
	<script type="text/javascript"
		th:src="@{js/plugins/treeview/jquery.treeview.js}"></script>
	<script type="text/javascript"
		th:src="@{js/plugins/form/jquery.form.js}"></script>
	<script type="text/javascript"
		th:src="@{js/plugins/ztree/jquery.ztree.core-3.5.js}"></script>
	<script type="text/javascript"
		th:src="@{js/plugins/ztree/jquery.ztree.excheck-3.5.js}"></script>
	<script type="text/javascript" th:src="@{js/plugins/comm/constant.js}"></script>
	<script type="text/javascript" th:src="@{js/plugins/comm/common.js}"></script>
	<script type="text/javascript"
		th:src="@{js/plugins/comm/appconstans.js}"></script>
	<script type="text/javascript" th:src="@{js/plugins/comm/bmsAjax.js}"></script>
	<script type="text/javascript" th:src="@{js/plugins/comm/validata.js}"></script>
	<script type="text/javascript"
		th:src="@{js/plugins/validate/jquery.validate.min.js}"></script>
	<script type="text/javascript"
		th:src="@{js/plugins/validate/localization/messages_zh.min.js}"></script>
	<script type="text/javascript"
		th:src="@{js/plugins/validate/regValidate.js}"></script>
	<script type="text/javascript" th:src="@{js/popup_layer.js}"></script>
	<script type="text/javascript"
		th:src="@{js/plugins/kxbdmarquee/js/jquery.kxbdmarquee.js}"></script>
	<script type="text/javascript" th:src="@{js/textScroll.js}"></script>
	<script type="text/javascript" th:src="@{js/app.js}"></script>
	<script type="text/javascript" th:src="@{js/plugins/layer/layui.js}"></script>
	<script th:inline="javascript"> 
	
	//点击搜索判断入学时间
	 function stuAuditionStartTime(){
				var stuStartTime =$("#stuStartTime").val();
				var stuEndTime =$("#stuEndTime").val();
				if(stuStartTime > stuEndTime){
					_alert("入学结束时间不得早于开始时间");
					return false;
				}
				document.getElementById("busTypeForm").submit();
			 }
	
		$(function(){
			var stuId=$("#stuId").val();
			$.ajax({
				url:[[@{/stu/showAddress.ht}]],
				data:"stuId="+stuId,
				type:"get",
				dataType:"json",
				success:function(obj){
					if(obj.data.stuArea!=null){
						if(obj.data.stuRealArea!=null){
							getProvinceFun(obj.data.stuRealProvince,obj.data.stuRealCity,obj.data.stuRealArea,"#stuRealProvince","#stuRealCity","#stuRealArea");
						}
						getProvinceFun(obj.data.stuProvince,obj.data.stuCity,obj.data.stuArea,"#receiverState","#receiverCity","#receiverDistrict");
					}else{
						getProvinceFun(-1,-1,-1,"#stuRealProvince","#stuRealCity","#stuRealArea");
						  getProvinceFun(-1,-1,-1,"#receiverState","#receiverCity","#receiverDistrict");
					}
				}
			})
			
			var operationSuccess = $("#operationSuccess").val();
			if(operationSuccess != ""){
				_alert(operationSuccess);
			}
		});
		
		$(function(){
			console.log(photoEmp);
			$("#uploadifyButton2").uploadify({ //上传小区鸟瞰图
				'id' : 'uploadifyButton2',//文件的id，与存放文件div的id一致
			  'swf': [[@{/js/plugins/file/uploadify/uploadify.swf}]],//该swf文件是一个带有文字BROWSE的按钮，点击后淡出打开文件对话框，默认值：uploadify.swf。 
			  'uploader': [[@{/fileUpload.ht;JSESSIONID=} + ${#httpSession.getId()}]],//uploadify.swf 文件的相对路径
			  'buttonText': '',//浏览按钮的文本，默认值：BROWSE 。
			  'fileTypeDesc': 'Image Files',// 这个属性值必须设置fileExt属性后才有效，用来设置选择文件对话框中的提示文本，如设置fileDesc为“请选择rar doc pdf文件”，打开文件选择框效果如下图：
			  'fileTypeExts': '*.gif; *.jpg; *.png',//设置可以选择的文件的类型，格式如：'*.doc;*.pdf;*.rar' 。
			  'queueID': 'fileQueue2',//文件的唯一标识，由6为随机字符组成
			  'auto': true,//设置为true当选择文件后就直接上传了，为false需要点击上传按钮才上传 。 
			  'multi': false,// 设置为true时可以上传多个文件。
			  'width':180,//设置浏览按钮的宽度 ，默认值：110。 
			  'height':200,//设置浏览按钮的高度 ，默认值：30。 
				'method' : 'post',//提交方式Post 或Get 默认为Post 
				'fileSizeLimit' : '10MB',// 上传文件的大小限制 。 
			  'onUploadSuccess' : function(fileData, jsonData) {//猜测应该是上传成功后执行
			  	 var obj;
					  if(jsonData) {
						  obj = eval('(' + jsonData + ')');
						  if(obj.code == 1) {
							  alert(obj.message);
						  } else {
						  	if(obj.result) {
							  	/*<![CDATA[*/
							  	$("#uploadifyButton2-button img").remove();
						  		$("#uploadifyButton2-button").append("<img src='"  + obj.result[0] + "'/>");
						  		/*]]>*/
						  		//$("#uploadifyButton2-button").css({'background':'url("' + ([[@{/}]] + obj.result[0]) + '") no-repeat center center'});
						  	//	$("#cImg").attr("src",  + "?" + new Date().getTime());
						  		$("#tempFileName").val(obj.result[0]);
						  	}
						  }
					  }
			  }
			});
			/*<![CDATA[*/
	  		var id = [[${sup.pkBesi}]];
			var photoEmp = [[${sup.stuHeadPhotoDir}]]
			
			//图片在服务器上面的地址
			var fileServerIp = [[${#sysCache.getSysParam('FILE_SERVER_IP')}]];
			var fileServerAlias = [[${#sysCache.getSysParam('FILE_SERVER_ALIAS')}]];
			var url = "http://" + fileServerIp.paramValue + fileServerAlias.paramValue + photoEmp;
			if(id) {//如果empId优质的话就去找相对应的图片文件
				showUploadTip( url, "uploadifyButton2");
			}
	  		/*]]>*/
			
			setValidate($("#supFrm"),{
				rules: {
					stuMailBox:{email:true},
					stuWecharNumber:{wechat: true},
					stuQQNumber:{qq: true,	maxlength:11},
					stuHomeAddress:{stuHomeAddress:true}
					
				},
				messages:{
					stuMailBox:{email:"请输入正确的邮箱!"},
					stuQQNumber:{maxlength: "QQ号最大长度为11位!"}
				}
				
			});
			$.validator.addMethod("wechat",function(value,element,params){
				var wechat=/^[u0391-uFFE5w]/;
				return this.optional(element) || (wechat.test(value));
			},"微信号格式错误!");
			$.validator.addMethod("qq",function(value,element,params){
				var qq=/^[1-9][0-9]{4,11}/;
				return this.optional(element) || (qq.test(value));
			},"QQ号格式不正确！");
			$.validator.addMethod("email",function(value,element,params){
				var email=/^([a-zA-Z0-9_-]{1,16})@([a-zA-Z0-9]{1,9})(\.[a-zA-Z0-9]{1,9}){0,3}(\.(?:com|net|org|edu|gov|mil|cn|us)){1,4}$/;
				return this.optional(element) || (email.test(value));
			},"请输入正确的邮箱!");
			
			$.validator.addMethod("stuHomeAddress",function(value,element,params){
				var stuHomeAddress=/^[\u4e00-\u9fa5_a-zA-Z0-9]+$/;
				return this.optional(element) || (stuHomeAddress.test(value));
			},"家庭住址只能输入汉字字母或数字!");
		});
		function notstuJump(){
			var stuId = document.getElementById("stuId").value;
			if(stuId==null || stuId == ""){
				_alert("请先保存当前页面");
			}else {
				locationHref([[@{'/stu/stuPageJump.ht'}]] + "?stuTable=audStudentJump");
			}
		};
		function notEduJump(){
			var stuId = document.getElementById("stuId").value;
			if(stuId==null || stuId == ""){
				_alert("请先保存当前页面");
			}else {
				locationHref([[@{'/stu/stuPageJump.ht'}]] + "?stuTable=audStudentEducationJump");
			}
		};
		function notFamJump(){
			var stuId = document.getElementById("stuId").value;
			if(stuId==null || stuId == ""){
				_alert("请先保存当前页面");
			}else {
				locationHref([[@{'/stu/stuPageJump.ht'}]] + "?stuTable=audStudentFamilyJump");
			}
		};
		
		
		
		function returnBack(){
			alert(132)
			var url = [[@{'/stu/toAudStuList.ht'}]];
			locationHref(url); 
		};
		//异步请求，获取区县信息
		function getArea(cityCode,areaCode,receiverDistrict){
			$.ajax({ 
				url:[[@{/dict/getArea.ht}]],
				data:"cityCode="+cityCode,
				type:"get",
				dataType:"json",
				success:function(obj){
					$(receiverDistrict).html(
					'<option value="">...请选择...</option>');
				    $.each(obj.data,function(i, item){
				    	$(receiverDistrict).append(
								new Option(item.areaName,
										item.areaCode));
				    	
				    })
					
					//表示该区县处于被选中状态
					if(areaCode!=-1){
						$(receiverDistrict).val(areaCode);
					}
					
				}
			});
		}
		//异步请求，获取城市信息
		function getCity(provinceCode,cityCode,areaCode,receiverCity,receiverDistrict){
			$.ajax({
				url:[[@{/dict/getCity.ht}]],
				data:"provinceCode="+provinceCode,
				type:"get",
				dataType:"json",
				success:function(obj){
					$(receiverCity).html(
					'<option value="">...请选择...</option>');
					   $.each(obj.data,function(i, item){
					    	$(receiverCity).append(
									new Option(item.cityName,
											item.cityCode));
					    	
					    })
					//表示选择的城市处于被选中状态
					if(cityCode!=-1){
						$(receiverCity).val(cityCode);
					}
					//显示该城市的所有区县信息
					getArea(cityCode,areaCode,receiverDistrict);
				}
			});
		}
		
		//异步请求，获取省份信息
		function getProvinceFun(provinceCode,cityCode,areaCode,receiverState,receiverCity,receiverDistrict){
			$.ajax({
				url:[[@{/dict/getProvince.ht}]],
				data:"",
				type:"get",
				dataType:"json",
				async : false,
				success:function(obj){
					$(receiverState).html(
					'<option value="">...请选择...</option>');
					 $.each(obj.data,function(i, item){
					    	$(receiverState).append(
									new Option(item.provinceName,
											item.provinceCode));
					    	
					    })
					    
				
					//表示选择的省处于被选中状态
					if(provinceCode!=-1){
						$(receiverState).val(provinceCode);
					}
						//显示该省的所有城市 
						getCity(provinceCode,cityCode,areaCode,receiverCity,receiverDistrict)
					
				}
			});
		}
		</script>
</body>
</html>