<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head th:include="commonTemplate :: header">
	</head>
	<body class="bgcolor-body">
		<div id="page">
			<div th:include="commonTemplate :: headerDiv"></div>
			<div id="content" class="layout">
				<div class="grid-s5m0">
					<div class="col-main">
						<div class="main-wrap">
							<div class="skin-box">
								<div class="skin-box-bd">
									<div class="cur-position">
									<span><a href="javascript:void(0)">信息管理</a> </span> <span>&gt;</span>
									<span><a th:href="@{stu/toForStuList.ht}">学生信息</a> </span> <span>&gt;</span>
									<span><a href="javascript:void(0)">编辑信息</a> </span>
									</div>
									<!-- ==================================== 页面内容开始 ============================= -->
									<div class="cont-box">
										<div class="JsW skin-box-bd" data-widget-type="tab" data-widget-config="{'activeIndex':0}">
											<div class="skin-bd-box">
												<div class="content-box-menu">
													<ul >
														<li class="active">
															<a href="javascript:void(0)"> <span >基础信息</span> <span class="separator"></span> </a>
														</li>
														<li>
															<a href="javascript:void(0)" > <span th:onclick="'notSupJump(\'' + ${stu.stuId} + '\')'">附加信息</span> <span class="separator"></span> </a>
														</li>
														<li>
															<a href="javascript:void(0)"><span th:onclick="'notEduJump(\'' + ${stu.stuId} + '\')'">教育信息</span> <span class="separator"></span> </a>
														</li>
														<li>
															<a href="javascript:void(0)"> <span th:onclick="'notFamJump(\'' + ${stu.stuId} + '\')'" >家庭信息</span> <span class="separator"></span> </a>
														</li>
														
													</ul>
												</div>
												<div class="list-table">
													<div class="list-table-cont">
														<div class="table6">
														
															<form id="basefrm" name="basefrm"  th:action="@{stu/toUpdateForStu.ht(stuTable=forStudent)}" method="post" enctype="multipart/form-data" >
																 
																<table>
																<span th:if="${stu.stuId} != null and ${stu.stuId} != ''">
																	<tr>
																		<td>
																				<div class="left">
																				<div class="td1">
																					<span class="red"></span><span>学员ID：</span>
																				</div>
																				<div class="td2">
																					<span>
																						<span id="stuID" name="stuID" th:text="${stu.stuId}"></span>
																					</span>
																				</div>
																			</div>
																				
																		</td>
																	</tr>
																	</span>	
																	<tr>
																		<td>
																			<div class="left">
																				<div class="td1">
																					<span class="red"></span><span>姓名：</span>
																				</div>
																				<div class="td2">
																					<span>
																						<input type="hidden" name="stuId" id="stuId" th:value="${stu.stuId}" />
																						<input type="hidden" name="operationSuccess" id="operationSuccess" th:value="${operationSuccess}"/>
																						<span id="stuName" name="stuName" th:text="${stu.stuName}"></span>
																					</span>
																				</div>
																			</div>		
																		</td>
																	</tr>
																	<tr>
																		<td>
																			<div class="left">
																				<div class="td1">
																					<span class="red"></span><span>性别：</span>
																				</div>
																				<div class="td2">
																					<span th:if="${stu.stuSex == '0'}" id="stuSex" name="stuSex" th:text="男"></span>
																					<span th:if="${stu.stuSex == '1'}" id="stuSex" name="stuSex" th:text="女"></span>
																				</div>
																			</div>
																		</td>
																	</tr>
																	<tr>
																		<td>
																			<div class="left">
																				<div class="td1">
																					<span class="red"></span><span>班级：</span>
																				</div>
																				<div class="td2">
																					<div>
																							<span th:if="${stu.claId} != null " name="claId"   class="radius3" id="class_select">
																								<span th:each="info:${list}" id="cName" name="cName">
																									<span th:if="${info.cId} == ${stu.claId}" th:text="${info.cName}"></span>
																								</span>
																							</span>
																					</div>
																				</div>
																				
																			</div>
																		</td>
																	</tr>
																	<tr>
																		<td>
																			<div class="left">
																				<div class="td1">
																					<span class="red"></span><span>身份证号：</span>
																				</div>
																				<div class="td2">
																				<span id="stuIdNumber" name="stuIdNumber" th:text="${stu.stuIdNumber}"></span>
																				</div>
																			</div>	
																		</td>
																	</tr>
																	<tr>
																		<td>
																			<div class="left">
																				<div class="td1">
																					<span class="red"></span><span>手机号：</span>
																				</div>
																				<div class="td2">
																				<span id="stuMobile" name="stuMobile" th:text="${stu.stuMobile}"></span>
																				</div>
																			</div>	
																		</td>
																	</tr> 
																	<tr>
																		<td>
																			<div class="left">
																				<div class="td1">
																					<span class="red"></span><span>所学专业：</span>
																				</div>
																				<div class="td2">
																				<span id="stuSpecialty" name="stuSpecialty" th:text="${stu.stuSpecialty}"></span>
																				</div>
																			</div>	
																		</td>
																	</tr>
																	<tr>
																		<td>
																			<div class="left">
																				<div class="td1">
																					<span class="red"></span><span>学员备注：</span>
																				</div>
																				<div class="td2">
																				<span id="stuRemark" name="stuRemark" th:text="${stu.stuRemark}"></span>
																				</div>
																			</div>	
																		</td>
																	</tr>
																</table>
															</form>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<!-- ============================= 页面内容 结束============================= -->
								</div>
							</div>
						</div>
					</div>
					<div th:include="commonTemplate :: leftMenus"></div>
				</div>
			</div>
			<div th:include="commonTemplate :: footer"></div>
		</div>
		<div th:include="commonTemplate :: processBar" />
		<script th:inline="javascript"> 
		function notSupJump(id){
				locationHref([[@{'/stu/notSupJump.ht'}]]+ "?stuId=" + id);
		};
		function notEduJump(id){
				locationHref([[@{'/stu/notEduJump.ht'}]]+ "?stuId=" + id);
		};
		function notFamJump(id){
				locationHref([[@{'/stu/notFamJump.ht'}]]+ "?stuId=" + id);
		};
		
		</script>
		
	</body>
</html>