<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:replace="commonTemplate :: header">
</head>
<body>
<div class="lyear-layout-web">
    <div class="lyear-layout-container">
        <!--左侧导航-->
        <div th:replace="commonTemplate :: leftMenus"></div>
        <!--End 左侧导航-->

        <!--头部信息-->
        <div th:replace="commonTemplate :: headerDiv"></div>
        <!--End 头部信息-->

        <!--页面主要内容-->
        <main class="lyear-layout-content">
            <!-- ==================================== 页面内容开始 ============================= -->
            <div class="container-fluid">
                <form id="busPlaceForm" th:action="@{dossier/updateCategory.ht}" autocomplete="off" th:object="${info}" method="post">
                    <input type="hidden" name="dictId"  />
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <table class="table table-hover">
                                        <tr>
                                            <td align="right" width="25%">
                                                <span style="color:red">*</span>
                                                <span>类别名称：</span>
                                            </td>
                                            <td>
                                               <span><input type="text" class="form-control" id="cName" name="cName" th:value="${baiseeDossierCategory.cName}"
                                                            maxlength="30" onkeyup="value=value.replace(/[^\a-\z\A-\Z0-9\u4E00-\u9FA5]/g,'')" /></span>
                                                <span style="color: red;display: none" id="message" >此类别名称已存在！</span>
                                            </td>
                                        </tr>
                                        <input type="hidden" name="id" th:value="${baiseeDossierCategory.id}" />
                                    </table>
                                    <div align="center">
                                        <span> <input value="保存" type="button" onclick="submitForm()"  class="btn btn-success" /> </span>
                                        <span class="grey"> <input value="取消" type="button" class="btn btn-warning" onclick="returnBack();"/> </span>
                                        <span id="del"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- ============================= 页面内容 结束 ============================= -->
        </main>
        <!-- END 页面主要内容  -->
    </div>
</div>

<script type="text/javascript" src="js/jquery.min.js" th:src="@{static/js/jquery.min.js}"></script>
<script type="text/javascript" src="js/main.min.js" th:src="@{static/js/main.min.js}"></script>
<script type="text/javascript"  src="js/bootstrap-table/bootstrap-table.js"  th:src="@{static/js/bootstrap-table/bootstrap-table.js}"></script>
<script type="text/javascript" th:src="@{js/plugins/comm/bmsAjax.js}"></script>
<script type="text/javascript" src="js/bootstrap.min.js" th:src="@{static/js/bootstrap.min.js}"></script>
<script type="text/javascript" src="js/perfect-scrollbar.min.js" th:src="@{static/js/perfect-scrollbar.min.js}"></script>
<script type="text/javascript" src="js/bootstrap.min.js"  th:src="@{js/bootstrap.min.js}"></script>
<script type="text/javascript" src="js/perfect-scrollbar.min.js" th:src="@{js/perfect-scrollbar.min.js}"></script>
<script type="text/javascript" src="js/bootstrap-3.0.0/js/bootstrap-datepicker.min.js" th:src="@{js/bootstrap-datepicker.min.js}"></script>
<script type="text/javascript" src="js/bootstrap-3.0.0/js/bootstrap-datepicker.zh-CN.min.js" th:src="@{js/bootstrap-datepicker.zh-CN.min.js}"></script>
<script type="text/javascript" src="js/main.min.js" th:src="@{js/main.min.js}"></script>
<script type="text/javascript" th:src="@{js/plugins/comm/common.js}"></script>
<script type="text/javascript" th:src="@{js/plugins/layer/layer.js}"></script>
<script type="text/javascript" th:src="@{js/plugins/select2/select2.full.min.js}"></script>
<script type="text/javascript" th:src="@{js/plugins/My97DatePicker/WdatePicker.js}"></script>
<script type="text/javascript" th:src="@{js/plugins/comm/validata.js}"></script>
<script type="text/javascript"
        th:src="@{js/plugins/validate/jquery.validate.min.js}"></script>
<script type="text/javascript"
        th:src="@{js/plugins/treeview/jquery.treeview.js}"></script>
<script type="text/javascript"
        th:src="@{js/plugins/form/jquery.form.js}"></script>
<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
var basePath = /*[[@{/}]]*/;
/*]]>*/
</script>
<script th:inline="javascript">
    $(function() {
        $("#cName").keydown(function (event) {
            if (event.keyCode == 13) {
                submitForm();
                return false;
            }
        });
    })
    function returnBack(){
        var url = basePath+'/dossier/categoryList.ht';
        locationHref(url);
    }

    function submitForm() {
        if ($("#cName").val()) {
            $("#message").hide();
            $.ajax({
                url: basePath+"/dossier/checkPname.ht",
            type:'GET',
                dataType: "json",//预期服务器返回的数据类型
                data: {"cName": $("#cName").val()},

            success:function(data){
                if (data.codes == "000") {
                    $("#message").hide();
                    $.ajax({
                        url: basePath+"dossier/addCategory.ht",
                    type:'POST',
                        dataType: "json",//预期服务器返回的数据类型
                        data: $('#busPlaceForm').serialize(),
                        success:function(data){

                    }
                });
                    returnBack();
                    returnBack();
                }else {
                    $("#message").show();
                    $("#message").text("此类别名称已存在！");
                    $("#message").css("color","red");
                    return;
                }
            }
        });
        }else {
            $("#message").show();
            $("#message").text("必填！");
            $("#message").css("color","red");
        }

    }
</script>
</body>
</html>