<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head th:include="commonTemplate :: header">
	</head>
	<body class="bgcolor-body">
		<div id="page">
			<div th:include="commonTemplate :: headerDiv"></div>
			<div id="content" class="layout">
				<div class="grid-s5m0">
					<div class="col-main">
						<div class="main-wrap">
							<div class="skin-box">
								<div class="skin-box-bd">
									<div class="cur-position">
										<span><a href="javascript:void(0)">打卡管理</a> </span>
										<span>&gt;</span>
										<span><a th:href="@{clockTime/toList.ht}">参数管理</a> </span>
										<span>&gt;</span>
										<span><a href="javascript:void(0)">新增参数</a></span>
									</div>
									<!-- ==================================== 页面内容开始 ============================= -->
									<div class="cont-box">
										<div class="JsW skin-box-bd" data-widget-type="tab" data-widget-config="{'activeIndex':0}">
											<div class="skin-bd-box">
												<div class="list-table">
													<div class="list-table-cont">
														<div class="table6">
															<form id="calendarForm" th:action="@{clockTime/toSaveTime.ht}"  method="post" th:object="${info}" >
																<input type="hidden" name="ctId" id="ctId" th:value="${info.ctId}"  />
																<table>
																	<tr>
																		<td>
																			<div class="left">
																				<div class="td1">
																					<span class="require red">*</span><span>开始时间：</span>
																				</div>
																				<div class="td2">
																					<span><input style="width: 144px;margin-right: 30px;" type="text" placeholder="请选择开始时间" class="radius3 input" id="startTime"  name="startTime" th:value="${info.startTime}"  onfocus="WdatePicker({dateFmt:'HH:mm:ss',readOnly:true})" /></span>
																				</div>
																			</div>
																		</td>
																	</tr>
																	<tr>
																		<td>
																			<div class="left">
																				<div class="td1">
																					<span class="require red">*</span><span>结束时间：</span>
																				</div>
																				<div class="td2">
																					<span><input style="width: 144px;margin-right: 30px;" type="text" placeholder="请选择结束开始时间" class="radius3 input" id="endTime"  name="endTime" th:value="${info.endTime}"  onfocus="WdatePicker({dateFmt:'HH:mm:ss' ,readOnly:true})" /></span>
																				</div>
																			</div>
																		</td>
																	</tr>
																	<tr>
																		<td>
																			<div class="left">
																				<div class="td1">
																					<span class="require red">*</span><span>类型：</span>
																				</div>
																				<div class="td2">
																					<span>
   																						<select th:if="${dic} != null" class="radius3" id="clockType" name="clockType" >
				 																	 		<option></option>
																							<option th:selected="${info.clockType eq dic.dictValue}"  th:each="dic : ${dic}" th:value="${dic.dictValue}" th:text="${dic.dictDestination}" style="width: 144px;"/>
																					    </select>
  																				    </span>
																				</div>
																			</div>
																		</td>
																		<tr>
																		<td>
																			<div class="left">
																				<div class="td1">
																					<span class="require red">*</span><span>描述:</span>
																				</div>
																				<div class="td2">
																					<span><input type="text" class="radius3 input" name="details" id="details" th:value="${info.details}"  /></span>
																				</div>
																			</div>
																		</td>
																	</tr>
																	</tr>
																</table>
																<div class="redbutton control-button JsW" data-control-type="button" data-control-config="{'buttonCls':'button'}">
																	<span> <input value="保存" type="submit" class="radius5 button ks-pop-close1" /> </span>
																	<span class="grey"> <input value="取消" type="button" class="radius5 button ks-pop-close1" onclick="returnBack();"/> </span>
																	<span id="del"></span>
																</div>
															</form>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<!-- ============================= 页面内容 结束============================= -->
								</div>
							</div>
						</div>
					</div>
					<div th:include="commonTemplate :: leftMenus"></div>
				</div>
			</div>
			<div th:include="commonTemplate :: footer"></div>
		</div>
		<div th:include="commonTemplate :: processBar" />
		<script th:inline="javascript"> 
		$(function(){
			setValidate($("#calendarForm"),{
				rules: {
					startTime:{required: true, maxlength: 20},
					endTime:{required: true, maxlength: 20,endTime:true},
					clockType:{required: true,maxlength: 20},
					details:{required: true,maxlength: 225}
				},
				messages:{
					startTime:{required: "必填", maxlength: "超过{0}，太长"},
					endTime:{required: "必填", maxlength:"超过{0}，太长"},
					clockType:{required: "必填",maxlength: "超过{0}，太长"},
					details:{required: "必填",maxlength: "超过{0}，太长"}
				}
			});
			$.validator.addMethod("endTime", function(value, element) { 
				var startTime =$("#startTime").val();
				var endTime =$("#endTime").val();
				return this.optional(element) || (endTime > startTime); 
			}, "*开始时间不能小于结束时间!");
		});
		
		function returnBack(){
			var url = [[@{'/clockTime/toList.ht'}]];
			locationHref(url);
		}
		</script>
	</body>
</html>