<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="commonTemplate :: header">
<link rel="stylesheet" type="text/css" th:href="@{css/cla_list_css.css}" />
</head>
<style type="text/css">
.cont-box .tablestu {
	margin: 10px auto
}

.cont-box .tablestu table td {
	width: -0.5%
}

.cont-box .tablestu table .col1 {
	width: 0.1%
}

.cont-box .tablestu table .col7 {
	text-align: center;
	text-indent: 20px
}

.cont-box .tablestu table .th .col7 {
	text-align: center;
	text-indent: 0
}
</style>
<body class="bgcolor-body">
	<div id="page">
		<div th:include="commonTemplate :: headerDiv"></div>
		<div id="content" class="layout">
			<div class="grid-s5m0">
				<!-- ============================= 页面内容 开始============================= -->
				<div class="col-main">
					<div class="main-wrap">
						<div class="skin-box">
							<div class="skin-box-bd">
								<div class="cur-position">
									<span><a href="javascript:void(0);">信息管理</a> </span> <span>&gt;</span>
									<span><a th:href="@{eva/selectStuEvaPage.ht}">评价信息</a> </span>
								</div>
								<form th:action="@{evaluate/toList.ht}" id="frm" name="frm"
									method="post">

									<div class="cont-box">
										<div class="search-box">
											<div class="left">
												<span class="del"><a bms:ctrl="busDict.delDict"
													baisee:ctrl="PJXX_SCXSPJXX" th:onclick="'add()'"
													title="添加评价" style="cursor: pointer; color: #ffffff"
													onmouseover="javascript:this.style.color='#dbdbdb'"
													onmouseout="javascript:this.style.color='#ffffff'">添加</a> </span>
												<span class="del"><a bms:ctrl="busDict.delDict"
													baisee:ctrl="PJXX_SCXSPJXX" th:onclick="'show()'"
													title="删除评价" style="cursor: pointer; color: #ffffff"
													onmouseover="javascript:this.style.color='#dbdbdb'"
													onmouseout="javascript:this.style.color='#ffffff'">删除</a> </span>

											</div>

											<div class="right">
												<div class="search-box-cont">
													<span style="margin-left: 10px;"> <span> <input
															class="button" type="submit" value="搜索" />
													</span> <span> <input class="input radius3"
															name="itemlableSearch" th:value="${itemlableSearch}"
															type="text" placeholder="姓名" style="width: 226px" />
													</span>
													</span>
												</div>
											</div>

										</div>
										<div class="list-table">
											<div class="list-table-cont">
												<div class="table2">
													<table class="ks-inputall">
														<tr class="th">
															<td class="col1" baisee:ctrl="PJXX_SCXSPJXX">
																<div class="JsW control-checkbox"
																	data-control-type="checkboxall">
																	<input type="checkbox"
																		onclick="selectAllCheckBox(document.frm.ids,document.frm.checkbox,this);" />
																</div>
															</td>
															<td class="col2">姓名</td>
															<!-- 姓名 -->
															<td class="col2">评价</td>
															<!-- 班级 -->
															<td class="col2">时间</td>
															<!-- 时间 -->
															<td class="col2">操作</td>
															<!-- 时间 -->

														</tr>

														<tr th:each="list:${pageResult.list}"
															th:if="${pageResult.list != null &amp;&amp; pageResult.list.size() > 0}"
															onmouseover="this.style.backgroundColor='#e3f1ff'"
															onmouseout="this.style.backgroundColor='#ffffff'">
															<td class="col1" baisee:ctrl="PJXX_SCXSPJXX">
																<div class="JsW control-checkbox"
																	data-control-type="checkbox">
																	<input type="checkbox" name="ids"
																		th:value="${list.evid}" />
																</div>
															</td>
															<td class="col2" style="cursor: pointer" title="点击可查看"
																th:text="${list.name}"></td>
															<td class="col2" style="cursor: pointer" title="点击可查看"
																th:text="${list.evInfo}"></td>
															<!-- 班级 -->
															<td class="col5" style="cursor: pointer" title="点击可查看"
																baisee:fmt="yyyy-MM-dd,${list.evDate}"></td>
															<!-- 时间 -->
															<td class="col4"><span baisee:ctrl="XSDAGL_DL"
																style="cursor: pointer; color: red;" title="点击修改"
																th:onclick="'javascript:edit(\'' + ${list.evid} + '\')'"
																th:text="修改"> </span> <span baisee:ctrl="XSDAGL_DL"
																style="cursor: pointer; color: red;" title="点击删除"
																th:onclick="'javascript:del(\'' + ${list.evid} + '\')'"
																th:text="删除"> </span></td>
															<!-- <td class="col5" style="cursor:pointer" title="点击修改"><a th:href="@{evaluate/addORupdate.ht(id=${list.evid})}">修改</a></td>  -->
														</tr>
													</table>
												</div>
											</div>
										</div>
										<div th:include="commonTemplate :: pageBox"></div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<!-- ============================= 页面内容 结束============================= -->
				<div th:include="commonTemplate :: leftMenus"></div>
			</div>
		</div>
		<div th:include="commonTemplate :: footer"></div>
	</div>
	<div th:include="commonTemplate :: processBar" />

	<script th:inline="javascript">
			 	 function del(id){
					locationHref([[@{/evaluate/del.ht}]] + "?id=" + id);
				 } 
				 function add(id){
						layer.open({
							type : 2,
							title : "请假",
							shadeClose : true,
							shade : 0.8,
							area : [ '800px', '500px' ],
							content :
										/*<![CDATA[*/
										[[@{/leave/toLeave.ht}]]+"?id="+id,
										 /*]]>*/
							end: function () {
										/*<![CDATA[*/
										 locationHref([[@{/leave/toStuList.ht}]]);
								    	 /*]]>*/
						       }
						});
				}
				function edit(id){
					locationHref([[@{/evaluate/upDate.ht}]] + "?id=" + id);
				}
				function show(){
					//获取选中的数据
					obj = document.getElementsByName("ids");
					chebox_val = [];
					for(k in obj){
						if(obj[k].checked)
							chebox_val.push(obj[k].value);	
						
					}
					
					//判断是否为空
					if(chebox_val == ""){
						alert("请至少选择一条数据");
						return false;
					}
					locationHref([[@{/evaluate/del.ht}]] + "?id=" + chebox_val);
					
				}
				
				
	</script>
</body>
</html>