<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.baisee.oa.dao.baisee.BaiseeVideoSubjectMapper">

    <resultMap type="cn.baisee.oa.model.BaiseeVideoSubject" id="results">
       <id column="id" jdbcType="VARCHAR" property="id" />
       <result column="teacher_name" jdbcType="VARCHAR" property="teacherName" />
       <result column="subject_name" jdbcType="VARCHAR" property="subjectName" />
       <result column="subject_path" jdbcType="VARCHAR" property="subjectPath" />
       <result column="dept_type" jdbcType="VARCHAR" property="deptType" />
       <result column="c_id" jdbcType="VARCHAR" property="cId" />
       <result column="c_name" jdbcType="VARCHAR" property="cName" />
	   <result column="c_time" jdbcType="TIMESTAMP" property="cTime" />
	   
    </resultMap>

    <!-- 查询所有的日期分页 -->
    <select id="getVideoSubjects" resultMap="results" parameterType="map">
		select * from baisee_video_subject 
			<where>
				<if test="itemlableSearch != null and itemlableSearch!=''">
					teacher_name LIKE "%"#{itemlableSearch}"%"
				</if>
				<if test="deptType != null">
				 	and dept_type = #{deptType}
				</if>
				
			</where>
		order by teacher_name desc
	</select>
	
	 <!-- 查询所有故障地点 -->
    <select id="getVideoSubjectAll" resultMap="results">
		select * from baisee_video_subject 
	</select>
	
	<!-- 查询所属该校区下的故障地点 -->
    <select id="getVideoSubjectById" resultMap="results" parameterType="java.lang.String">
		select * from baisee_video_subject where id = #{id}
	</select>
	
	<insert id="saveVideoSubject" parameterType="cn.baisee.oa.model.BaiseeVideoSubject">
	    insert into baisee_video_subject  (id,teacher_name,subject_name,subject_path,dept_type,c_id,c_name,c_time)
	     values 
	     (pkval('SPKM'),#{teacherName},#{subjectName},#{subjectPath},#{deptType},#{cId},#{cName},#{cTime})
	</insert>
	
	<update id="updateVideoSubject" parameterType="cn.baisee.oa.model.repairReceive.BaiseeRepairType">
	   update baisee_video_subject set 
	   teacher_name=#{teacherName},
	   subject_name=#{subjectName},
	   subject_path=#{subjectPath},
	   c_time=#{cTime}
	    where id=#{id}
	</update>
	
	<delete id="delVideoSubject" parameterType="java.lang.String">
	    delete from baisee_video_subject where id in
	    <foreach collection="array" open="(" close=")" item="id" separator=",">
	        #{id}
	    </foreach>
	</delete>
	
	<select id="checkTname" resultMap="results"  parameterType="map">
		SELECT
			*
		FROM
			baisee_video_subject 
		WHERE
			teacher_name = #{teacherName} and subject_name = #{subjectName}
	</select>
	
</mapper>