<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.baisee.oa.dao.baisee.BaiseeParentMapper">

	<resultMap type="cn.baisee.oa.model.BaiseeParent" id="parentResultMap">
		<id property="fid" column="fid"></id>
		<result property="f_parent" column="f_parent"/>
		<result property="f_phone" column="f_phone"/>
		<result property="f_identity" column="f_identity"/>
		<result property="f_openid" column="f_openid"/>
	</resultMap>


	<!-- 查看数据库中是否有改手机号 ，有就是注册过的。没有就注册 -->
	<select id="getByPhone" resultType="cn.baisee.oa.model.BaiseeParent" parameterType="String">
		select * from baisee_parent where f_phone=#{f_phone}
	</select>

	<insert id="addParent" parameterType="cn.baisee.oa.model.BaiseeParent">
		insert into baisee_parent(fid,f_parent,f_phone,f_identity,f_openid,sid) values(#{fid},#{f_parent},#{f_phone},#{f_identity},#{f_openid},#{sid})
	</insert>

	<!-- 查看数据库中是否有这个姓名 -->
	<select id="getByParent"  resultType="cn.baisee.oa.model.BaiseeParent" parameterType="String">
		select * from baisee_parent where f_parent = #{f_parent}
	</select>
	
	<select id="getByOpenId" resultType="cn.baisee.oa.model.BaiseeParent" parameterType="String">
		select * from baisee_parent
		<where>
			 f_openid=#{f_openid}
		</where>
	</select>
	
	
	<select id="getParent" parameterType="String" resultType="cn.baisee.oa.model.BaiseeParent" >
		select * from baisee_parent where sid = #{sid}
	</select>



</mapper>