<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="cn.baisee.oa.dao.baisee.BaiseeTuitionRuleMapper">
	<resultMap type="cn.baisee.oa.model.tuition.TuitionRule"
		id="tuition_map">
		<id column="TU_ID" jdbcType="VARCHAR" property="tuId" />
		<result column="TU_TYPE" jdbcType="VARCHAR" property="tuType" />
		<result column="TU_TYPE_MEANING" jdbcType="VARCHAR" property="tuTypeMeaning"/>
		<result column="TU_REFUND" jdbcType="VARCHAR"
			property="tuRefund" />
		<result column="TU_BY_STAGES" jdbcType="VARCHAR"
			property="tuByStages" />
		<result column="TU_DISCOUNT" jdbcType="VARCHAR"
			property="tuDiscount" />
		<result column="TU_MONET" jdbcType="VARCHAR" property="tuMonet" />
		<result column="UPDATE_TIME" jdbcType="VARCHAR"
			property="tuUpdateTime" />
	</resultMap>
	<!-- 查询学费规则 -->
	<select id="getTuitionList" resultMap="tuition_map"
		parameterType="map">
		SELECT
		TU_ID,TU_TYPE,TU_REFUND,TU_BY_STAGES,TU_DISCOUNT,TU_MONET,UPDATE_TIME
		FROM baisee_tuition_rule
		<where>
			<if test="tuId != null and tuId !=''">
				and TU_TYPE=#{tuType,jdbcType=VARCHAR}
			</if>
			<if test="tuMonet != null and tuMonet != ''">
				and TU_MONET=#{tuMonet,jdbcType=VARCHAR}
			</if>
		</where>
		ORDER BY UPDATE_TIME DESC
	</select>
	<!-- 添加 -->
	<insert id="addTuition"
		parameterType="cn.baisee.oa.model.tuition.TuitionRule">
		<selectKey resultType="java.lang.String" order="AFTER"
			keyProperty="tuId">
			SELECT TU_ID FROM baisee_tuition_rule
			ORDER BY
			UPDATE_TIME DESC LIMIT 1
		</selectKey>
		INSERT INTO baisee_tuition_rule
		<trim prefix="(" suffix=")" suffixOverrides=",">
			TU_ID,
			<if test="tuType != null">
				TU_TYPE,
			</if>
			<if test="tuTypeMeaning != null">
				TU_TYPE_MEANING,
			</if>
			<if test="tuRefund != null">
				TU_REFUND,
			</if>
			<if test="tuByStages != null">
				TU_BY_STAGES,
			</if>
			<if test="tuDiscount != null">
				TU_DISCOUNT,
			</if>
			<if test="tuMonet != null">
				TU_MONET,
			</if>
			UPDATE_TIME
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			pkval('TUID'),
			<if test="tuType != null">
				#{tuType, jdbcType=VARCHAR},
			</if>
			<if test="tuTypeMeaning != null">
				#{tuTypeMeaning,jdbcType=VARCHAR},
			</if>
			<if test="tuRefund != null">
				#{tuRefund, jdbcType=VARCHAR},
			</if>
			<if test="tuByStages != null">
				#{tuByStages, jdbcType=VARCHAR},
			</if>
			<if test="tuDiscount != null ">
				#{tuDiscount, jdbcType=VARCHAR},
			</if>
			<if test="tuMonet != null ">
				#{tuMonet, jdbcType=VARCHAR},
			</if>
			DATE_FORMAT(now(),'%Y%m%d%H%i%s')
		</trim>
	</insert>
	<!-- 根据tuId删除学费规则 -->
	<delete id="delTuition" parameterType="map">
		<if test="tuId != null and tuId != ''">
			DELETE FROM baisee_tuition_rule
			<where>
				TU_ID=#{tuId, jdbcType=VARCHAR}
			</where>
		</if>
	</delete>
	<!-- 根据tuId查询要修改的数据 -->
	<select id="getTuitionById" parameterType="map"
		resultMap="tuition_map">
		SELECT TU_ID,TU_TYPE_MEANING,TU_TYPE,TU_REFUND,TU_BY_STAGES,TU_DISCOUNT,TU_MONET
		FROM
		baisee_tuition_rule
		<where>
			<if test="tuId != null and tuId != ''">
				TU_ID=#{tuId, jdbcType=VARCHAR}
			</if>
		</where>
	</select>

	<update id="updateTuition"
		parameterType="cn.baisee.oa.model.tuition.TuitionRule">
		UPDATE baisee_tuition_rule
		<set>
			<if test="tuType != null and tuType != ''">
				TU_TYPE=#{tuType, jdbcType=VARCHAR},
			</if>
			<if test="tuTypeMeaning != null and tuTypeMeaning != ''">
				TU_TYPE_MEANING=#{tuTypeMeaning,jdbcType=VARCHAR},
			</if>
			<if test="tuRefund != null and tuRefund != ''">
				TU_REFUND=#{tuRefund, jdbcType=VARCHAR},
			</if>
			<if test="tuByStages != null and tuByStages != ''">
				TU_BY_STAGES=#{tuByStages, jdbcType=VARCHAR},
			</if>
			<if test="tuDiscount != null and tuDiscount != ''">
				TU_DISCOUNT=#{tuDiscount, jdbcType=VARCHAR},
			</if>
			<if test="tuMonet != null and tuMonet != ''">
				TU_MONET=#{tuMonet, jdbcType=VARCHAR},
			</if>
			UPDATE_TIME=DATE_FORMAT(now(),'%Y%m%d%H%i%m')
		</set>
		<where>
			<if test="tuId != null and tuId != ''">
				TU_ID=#{tuId, jdbcType=VARCHAR}
			</if>
		</where>
	</update>
	<!-- 查询学生是否使用要删除的学费规则 -->
	<select id="getStudentByTuId" parameterType="map" resultType="cn.baisee.oa.model.student.BaiseeStudent">
		select SID as stuId from baisee_student
		<where>
			<if test="tuId != null and tuId != ''">
				TU_ID=#{tuId,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
</mapper>