<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.baisee.oa.dao.baisee.BaiseeRoleMenuMapper" >
  <resultMap id="BaseResultMap" type="cn.baisee.oa.model.BaiseeRoleMenu" >
    <result column="ROLE_ID" property="roleId" jdbcType="VARCHAR" />
    <result column="MENU_ID" property="menuId" jdbcType="VARCHAR" />
  </resultMap>
  
  <select id="selectRoleMenuByRoleId" parameterType="java.lang.String" resultMap="BaseResultMap">
  	SELECT ROLE_ID, MENU_ID FROM baisee_role_menu WHERE ROLE_ID = #{roleId, jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteByRoleId" parameterType="java.lang.String">
  	DELETE FROM baisee_role_menu WHERE ROLE_ID = #{roleId, jdbcType=VARCHAR}
  </delete>
  
  <insert id="insertRoleMenu" parameterType="cn.baisee.oa.model.BaiseeRoleMenu">
  	INSERT INTO baisee_role_menu(ROLE_ID, MENU_ID) VALUES(#{roleId, jdbcType=VARCHAR}, #{menuId, jdbcType=VARCHAR});
  </insert>
  
  <delete id="delAllByRoleId" parameterType="java.lang.String">
  	DELETE FROM baisee_role_menu 
	<where>
		ROLE_ID in
		<foreach collection="array" open="(" close=")" item="roleId" separator="," >
			#{roleId, jdbcType=VARCHAR}
		</foreach>
	</where>		
  </delete>
  
</mapper>