<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.baisee.oa.dao.baisee.BaiseeClockTimeMapper">

    <select id="getClockTime" resultType="cn.baisee.oa.model.BaiseeClockTime">
       select ctId,clockType,startTime,endTime,details from baisee_clock_time order by clockType,startTime
    </select>
    
    <select id="getTimeByID" parameterType="java.lang.String" resultType="cn.baisee.oa.model.BaiseeClockTime">
       select ctId,clockType,startTime,endTime,details from baisee_clock_time where ctId = #{ctId}
    </select>
    
    <insert id="addTime" parameterType="cn.baisee.oa.model.BaiseeClockTime">
       insert into baisee_clock_time (ctId,clockType,startTime,endTime,details) 
       values (pkval('CTID'),#{clockType},#{startTime},#{endTime},#{details})
    </insert>
	
	<update id="updateTime" parameterType="java.lang.String">
	   update baisee_clock_time set clockType=#{clockType},startTime=#{startTime},
	   endTime=#{endTime},details=#{details} where ctId = #{ctId}
	</update>
	
	<delete id="deleTime" parameterType="java.lang.String">
	   delete from baisee_clock_time where ctId in
	   <foreach collection="array" open="("  close=")" item="ctId" separator=",">
	      #{ctId}
	   </foreach>
	</delete>
</mapper>