<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.baisee.oa.dao.baisee.BaiseeCourseMapper" >
	<resultMap type="cn.baisee.oa.model.course.BaiseeCourse" id="CourseMap">
		<id property="ciId" column="ci_id"/>
		<result property="courseTtitle" column="course_title"/>
		<result property="courseType" column="course_type"/>
		<result property="courseStatus" column="course_status"/>
		<result property="createTs" column="createTs"/>
		<result property="updateTs" column="updateTs"/>
		<result property="sort" column="sort"/>
		<!-- <association property="xxrCommunity" javaType="cn.baisee.oa.model.XxrCommunity">
			<id column="cid" property="cid"></id>
			<result column="cname" property="cname"/>
		</association>
		<association property="diction" javaType="cn.baisee.oa.model.IcipBusDict">
			<id column="dictId" property="cid"></id>
			<result column="cname" property="cname"/>
		</association> -->
	</resultMap>
	<!-- 课程分页 -->
	<select id="selectPageCourse" resultMap="CourseMap" parameterType="cn.baisee.oa.model.course.BaiseeCourse">
		select ci_id,course_title,course_type,course_status,createTs,updateTs
		from baisee_course 
		<where>
			<if test="courseTtitle != null and courseTtitle != ''">
				course_title like "%"#{courseTtitle}"%"
			</if>
			<if test="courseType != null and courseType != ''">
				course_type = #{courseType}
			</if>
		</where>
		order by updateTs desc
	</select>
	<!-- 查询是否在同一课程下有同一课程内容 -->
	<select id="selectCoursesByInfo" parameterType="cn.baisee.oa.model.course.BaiseeCourse" resultMap="CourseMap">
		select ci_id
		from baisee_course 
		<where>
			<if test="courseTtitle !=null and courseTtitle != ''">
				course_title = #{courseTtitle}
			</if>
			<if test="courseType !=null and courseType != ''">
				and course_type = #{courseType} 
			</if>
			 
			<if test="ciId !=null and ciId != ''">
				and ci_id != #{ciId}
			</if>
		</where>
	</select>
	<!-- 新增课程 -->
	<insert id="addCourse" parameterType="cn.baisee.oa.model.course.BaiseeCourse">
		<selectKey resultType="java.lang.String" order="BEFORE"
			keyProperty="ciId">
			SELECT pkval('CIId')
		</selectKey>
		insert into baisee_course 
		<trim prefix="(" suffix=")" suffixOverrides=",">
			ci_id,
			<if test="courseTtitle != null and courseTtitle != ''">
				course_title,
			</if>
			<if test="courseType != null and courseType != ''">
				course_type,
			</if>
			course_status,
			updateTs,
			createTs,
			sort
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			#{ciId},
			<if  test="courseTtitle != null and courseTtitle != ''">
				#{courseTtitle,jdbcType=VARCHAR},
			</if>
			<if test="courseType != null and courseType != ''">
				#{courseType, jdbcType=VARCHAR},
			</if>
			'0',
			DATE_FORMAT(now(),'%Y%m%d%H%i%s'),
			DATE_FORMAT(now(),'%Y%m%d%H%i%s'),
			'0'
		</trim>
	</insert>
	<!-- 根据id查课程 -->
	<select id="selectCourseById" parameterType="java.lang.String" resultMap="CourseMap">
		select *
		from baisee_course 
		<where>
			<if test="value != null and value != ''">
				ci_Id = #{ciId}
			</if>
		</where>
		limit 0,1
	</select>
	
	<!-- 修改课程 -->
	<update id="updateCourse" parameterType="cn.baisee.oa.model.course.BaiseeCourse">
		update baisee_course
		<set>
			<if test="courseTtitle != null and courseTtitle != ''">
				course_title = #{courseTtitle, jdbcType=VARCHAR},
			</if>
			<if test="courseType != null and courseType != ''">
				course_type = #{courseType, jdbcType=VARCHAR},
			</if>
			updateTs = DATE_FORMAT(now(),'%Y%m%d%H%i%s')
		</set> 
		<where>
			ci_id = #{ciId}
		</where>
	</update>
	<!-- 修改课程状态 -->
	<update id="updCourseStatus" parameterType="map">
		<if test ="id !=null and id !=''">
		update baisee_course
		<set>
			<if test="status !=null and status != ''">
				course_Status = #{status},
			</if>
				updateTs = DATE_FORMAT(now(),'%Y%m%d%H%i%s')
		</set>
		<where>
				ci_id = #{id}
		</where>
		</if>
	</update> 
	<!-- 删除课程根据ids -->
	<delete id="deleteCourseByIds" parameterType="java.lang.String">
		delete from baisee_course
		where ci_id 
		in 
		<foreach collection="array" open="(" close=")" separator="," item="ciId">
			#{ciId}
		</foreach>
	</delete>
</mapper>
