<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="commonTemplate :: header">
<link rel="stylesheet" type="text/css" th:href="@{css/cla_list_css.css}" />
</head>
<body class="bgcolor-body">
	<div id="page">
		<div th:include="commonTemplate :: headerDiv"></div>
		<div id="content" class="layout">
			<div class="grid-s5m0">
				<!-- ============================= 页面内容 开始============================= -->
				<div class="col-main">
					<div class="main-wrap">
						<div class="skin-box">
							<div class="skin-box-bd">
								<div class="cur-position">
									<span><a href="javascript:void(0);">信息管理</a> </span> <span>&gt;</span>
									<span><a th:href="@{disc/toDisList.ht}">优惠信息管理</a> </span>
								</div>
								<form th:action="@{disc/toDisList.ht}" id="frm" name="frm"
									method="post">
									<div class="cont-box">
										<div class="search-box">
											<div class="left">
												<span class="add JsW"><a
													th:href="@{disc/toDiscInfo.ht}" baisee:ctrl="YHGL_YHXZ"
													class="ks-pop-nav" title="添加优惠"
													style="cursor: pointer; color: #ffffff"
													onmouseover="javascript:this.style.color='#dbdbdb'"
													onmouseout="javascript:this.style.color='#ffffff'">新增</a> </span>
											</div>

										</div>
										<div class="list-table">
											<div class="list-table-cont">
												<div class="table2">
													<table class="ks-inputall">
														<tr class="th">
															<td class="col3">优惠名称</td>
															<td class="col4">优惠类型</td>
															<td class="col5">优惠详情</td>
															<td class="col5">优惠金额</td>
															<td class="col6">更新时间</td>
															<td class="col1" baisee:ctrl="YHGL_YHSC">删除</td>
														</tr>
														<tr
															th:if="${pageResult.list == null || pageResult.list.size() == 0}">

														</tr>
														<tr th:each="info:${pageResult.list}"
															th:if="${pageResult.list != null &amp;&amp; pageResult.list.size() > 0}"
															onmouseover="this.style.backgroundColor='#e3f1ff'"
															onmouseout="this.style.backgroundColor='#ffffff'">
															<td class="col4"><span style="cursor: pointer"
																title="点击可编辑"
																th:onclick="'edit(\'' + ${info.tuDiId} + '\')'"
																th:text="${info.tuDiName}"></span> </td>
															<td class="col4"><span style="cursor: pointer"
																title="点击可编辑"
																th:onclick="'edit(\'' + ${info.tuDiId} + '\')'"
																th:if="${info.tuDiType eq '1'}">金额优惠</span> <span
																style="cursor: pointer" title="点击可编辑"
																th:onclick="'edit(\'' + ${info.tuDiId} + '\')'"
																th:if="${info.tuDiType eq '0'}">物质优惠</span></td>
															<td class="col5"><span style="cursor: pointer"
																title="点击可编辑"
																th:onclick="'edit(\'' + ${info.tuDiId} + '\')'"
																th:text="${info.tuDiThing}"></span></td>
															<td class="col5"><span style="cursor: pointer"
																title="点击可编辑"
																th:onclick="'edit(\'' + ${info.tuDiId} + '\')'"
																th:text="${info.tuDiReduce}"></span></td>
															<td class="col6"><span style="cursor: pointer"
																title="点击可编辑"
																th:onclick="'edit(\'' + ${info.tuDiId} + '\')'"
																baisee:fmt="yyyy-MM-dd,${info.tuDiUpdateTime}"></span></td>
															<td class="col1" baisee:ctrl="YHGL_YHSC"><span
																style="cursor: pointer" title="点击删除"
																th:onclick="'delDisc(\'' + ${info.tuDiId} + '\')'"><font
																	color="#ff0000">删除该优惠</font></span></td>
														</tr>
													</table>
												</div>
											</div>
										</div>
										<div th:include="commonTemplate :: pageBox"></div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<!-- ============================= 页面内容 结束============================= -->
				<div th:include="commonTemplate :: leftMenus"></div>
			</div>
		</div>
		<div th:include="commonTemplate :: footer"></div>
	</div>
	<div th:include="commonTemplate :: processBar" />

	<script th:inline="javascript">
		function delDisc(tuDiId){
			var logUrl = [[@{'/disc/delDisc.ht?tuDiId='}]] + tuDiId;
			layer.confirm('确定删除该优惠吗？', {
	            btn : [ '确定', '取消' ]//按钮
	        }, function(index) {
	            layer.close(index);1
	            //此处请求后台程序，下方是成功后的前台处理……
	            //var index = layer.load(0,{shade: [0.7, '#393D49']}, {shadeClose: true}); //0代表加载的风格，支持0-2
			$.ajax({
				url: logUrl,
				type:'post',
				success:function(data){
					if (data.flag == "success") {
						var succ=[[@{'/disc/toDisList.ht'}]];
						locationHref(succ);
						_alert("删除成功！！！");
					} else if (data.flag=="notDel") {
						_alert("不可删除！！！");
					}else {
						_alert("删除失败！！！");
					}
				}
			})
	        });
		};  
	</script>
	<script th:inline="javascript">
		function edit(id){
			locationHref([[@{/disc/toDiscInfo.ht}]] + "?tuDiId=" + id);
		} 
	</script>

</body>
</html>