<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="commonTemplate :: header">
	<link rel="stylesheet" type="text/css" th:href="@{css/cla_list_css.css}" />
</head>
<body class="bgcolor-body">
<div id="page">
	<div th:include="commonTemplate :: headerDiv"></div>
	<div id="content" class="layout">
		<div class="grid-s5m0">
			<!-- ============================= 页面内容 开始============================= -->
			<div class="col-main">
				<div class="main-wrap">
					<div class="skin-box">
						<div class="skin-box-bd">
							<div class="cur-position">
								<span><a href="javascript:void(0);">课程管理</a> </span>
								<span>&gt;</span>
								<span><a th:href="@{couPlan/toClaList.ht}">课程排课管理</a> </span>
							</div>
							<form th:action="@{couPlan/toClaList.ht}"  id="frm" name="frm" method="post">
								<div class="cont-box">
									<div class="search-box">
										<div class="left">
											<input type="hidden" name="operationSuccess" id="operationSuccess" th:value="${operationSuccess}"/>

											<!-- <span class="del"><a bms:ctrl="busDict.delDict" href="javascript:void(0);" th:onclick="'del(\'frm\', \''+ @{/cla/delAllCla.ht} + '\')'" title="删除班级" style="cursor:pointer;color: #ffffff"
                                            onmouseover="javascript:this.style.color='#dbdbdb'"
                                            onmouseout="javascript:this.style.color='#ffffff'">删除</a> </span> -->
										</div>

										<div class="right">
											<div class="search-box-cont" >
												<span> <input class="button" type="submit" value="搜索" /> </span>
												<span><input class="input radius3" name="cName" id="cName" onkeyup="check();" th:value="${clazz.cName}" type="text" onKeypress="javascript:if(event.keyCode == 32)event.returnValue = false;" placeholder="班级名" style="width: 226px"/></span>
												<span  style="margin-left: 10px;">
															<select name="cType"  class="m-select" style="width: 150px;margin-left: 30px;">
																<option value="">--班级状态--</option>
																<option value="1" th:if="${clazz.cType eq '1'}"   selected="selected">正式</option>
																<option value="1" th:if="${clazz.cType ne'1'}"   >正式</option>
																<option value="0" th:if="${clazz.cType ne'0'}"   >试听</option>
																<option value="0" th:if="${clazz.cType eq '0'}" selected="selected">试听</option>
															</select>
															<select name="cStatus" th:if="${#strings.isEmpty(userType)}" class="m-select" style="width: 150px;margin-left: 30px;margin-right: 30px;margin-top: 2px;">
																<option value="">--班级学籍--</option>
																<option value="1" th:if="${clazz.cStatus eq '1'}" selected="selected">高中</option>
																<option value="1" th:if="${clazz.cStatus ne'1'}" >高中</option>
																<option value="0" th:if="${clazz.cStatus ne'0'}" >初中</option>
																<option value="0" th:if="${clazz.cStatus eq '0'}" selected="selected">初中</option>
															</select>
														</span>
											</div>
										</div>
									</div>
									<div class="list-table">
										<div class="list-table-cont">
											<div class="table2">
												<table class="ks-inputall">
													<tr class="th">
														<!-- <td class="col1">
                                                            <div class="JsW control-checkbox" data-control-type="checkboxall">
                                                                <input type="checkbox" onclick="selectAllCheckBox(document.frm.ids,document.frm.checkbox,this);" />
                                                            </div>
                                                        </td> -->
														<td class="col2">班级ID</td>
														<td class="col3">班级名</td>
														<td class="col4">班级状态</td>
														<td class="col5">班级学籍</td>
													</tr>
													<tr th:if="${pageResult.list == null || pageResult.list.size() == 0}">

													</tr>
													<tr th:each="info:${pageResult.list}" th:if="${pageResult.list != null &amp;&amp; pageResult.list.size() > 0}" onmouseover="this.style.backgroundColor='#e3f1ff'" onmouseout="this.style.backgroundColor='#ffffff'">
														<!-- <td class="col1">
                                                            <div class="JsW control-checkbox" data-control-type="checkbox">
                                                                <input type="checkbox" name="ids" th:value="${info.cId}" />
                                                            </div>
                                                        </td> -->
														<td class="col2">
															<span style="cursor:pointer" title="点击可编辑" th:onclick="'edit(\'' + ${info.cId} + '\')'" th:text="${info.cId}"></span>
														</td>
														<td class="col3">
															<span style="cursor:pointer" title="点击可编辑" th:onclick="'edit(\'' + ${info.cId} + '\')'" th:text="${info.cName}"></span>
														</td>
														<td class="col3">
															<span style="cursor:pointer" title="点击可编辑" th:onclick="'edit(\'' + ${info.cId} + '\')'" th:if="${info.cType eq '0'}" >试听</span>
															<span style="cursor:pointer" title="点击可编辑" th:onclick="'edit(\'' + ${info.cId} + '\')'" th:if="${info.cType eq '1'}" >正式</span>
														</td>
														<td class="col4">
															<span style="cursor:pointer" title="点击可编辑" th:onclick="'edit(\'' + ${info.cId} + '\')'" th:if="${info.cStatus eq '0'}" >初中</span>
															<span style="cursor:pointer" title="点击可编辑" th:onclick="'edit(\'' + ${info.cId} + '\')'" th:if="${info.cStatus eq '1'}" >高中</span>
														</td>
													</tr>
												</table>
											</div>
										</div>
									</div>
									<div th:include="commonTemplate :: pageBox"></div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- ============================= 页面内容 结束============================= -->
			<div th:include="commonTemplate :: leftMenus"></div>
		</div>
	</div>
	<div th:include="commonTemplate :: footer"></div>
</div>
<div th:include="commonTemplate :: processBar" />

<script th:inline="javascript">
	$(function(){
		var operationSuccess = $("#operationSuccess").val();
		if(operationSuccess != ""){
			_alert(operationSuccess);
		}
	});
	function delCla(cid){
		var logUrl = [[@{'/cla/delCla.ht?cId='}]] + cid;
		layer.confirm('确定删除该班级吗？', {
			btn : [ '确定', '取消' ]//按钮
		}, function(index) {
			layer.close(index);
			//此处请求后台程序，下方是成功后的前台处理……
			//var index = layer.load(0,{shade: [0.7, '#393D49']}, {shadeClose: true}); //0代表加载的风格，支持0-2
			$.ajax({
				url: logUrl,
				type:'post',
				success:function(data){
					if (data.flag == "success") {
						var succ=[[@{'/cla/toClaList.ht'}]];
						locationHref(succ);
						_alert("删除成功");
					} else if(data.flag == "undeletable"){
						_alert("该班级有学生，不可删除");
					} else {
						_alert("删除失败");
					}
				}
			})
		});
	};

</script>
<script th:inline="javascript">
	function graduate(cid){
		var logUrl = [[@{'/cla/graCla.ht?cId='}]] + cid;
		layer.confirm('确定毕业吗？', {
			btn : [ '确定', '取消' ]//按钮
		}, function(index) {
			layer.close(index);
			//此处请求后台程序，下方是成功后的前台处理……
			//var index = layer.load(0,{shade: [0.7, '#393D49']}, {shadeClose: true}); //0代表加载的风格，支持0-2
			$.ajax({
				url: logUrl,
				type:'post',
				success:function(data){
					if (data.prompt == "success") {
						var succ=[[@{'/cla/toClaList.ht'}]];
						locationHref(succ);
						_alert("操作成功！");
					} else if(data.prompt == "stuInput"){
						_alert("修改班级内学生出错！");
					} else if(data.prompt == "error"){
						_alert("该班级不可进行此操作");
					} else {
						_alert("操作失败！！！");
					}
				}
			})
		});
	};
</script>
<script th:inline="javascript">
	function edit(id){
		locationHref([[@{/couPlan/toCourseList.ht}]] + "?cid=" + id);
	}
	function check(){
		var cName=$("#cName").val();
		if (isNaN(cName)){
			_alert("非法字符，只能输入数字！！！");
			$("#cName").val('');
		}
	}
</script>

</body>
</html>