<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<style>
</style>
<body>
	<div >
		<div style="size: 20px" th:each="info:${pageResult.list}" th:if="${pageResult.list != null &amp;&amp; pageResult.list.size() > 0}" onmouseover="this.style.backgroundColor='#e3f1ff'" onmouseout="this.style.backgroundColor='#ffffff'">
					<div class="left">
						<div class="td1">
							<span class="require red" th:text="${infoStat.index+1}"></span><span>、&nbsp;&nbsp;题目：</span><span th:text="${info.subject}"></span>
						</div>
					</div>
					<br/>
					<div class="left">
						<div class="td1">
							&emsp;<span class="require red"></span><span>A：</span><span th:text="${info.selectOne}"></span>
						</div>
					</div>
					<br/>
					<div class="left">
						<div class="td1">
							&emsp;<span class="require red"></span><span>B：</span><span  th:text="${info.selectTwo}"></span>
						</div>
					</div>
					<br/>
					<div class="left" th:if="${info.selectThree ne '' and info.selectThree ne null}">
						<div class="td1">
							&emsp;<span class="require red"></span><span>C：</span><span th:text="${info.selectThree}"></span>
						</div>
					</div>
					<br/>
					<div class="left" th:if="${info.selectFour ne '' and info.selectFour ne null}">
						<div class="td1">
							&emsp;<span class="require red"></span><span>D：</span><span th:text="${info.selectFour}"></span>
						</div>
					</div>
					<br/>
					<div class="left">
						<div class="td1">
							<span class="require red">答案:&emsp;</span><span th:text="${info.answer}"></span>
						</div>
					</div>
					<div class="left"  th:if="${info.projectAnalysis ne '' and info.projectAnalysis ne null}">
						<div class="td1">
							<span class="require red"></span><span>课题分析：</span><span th:text="${info.projectAnalysis}"></span>
						</div>
					</div>
			<br/>
		</div>
	</div>
</body>
</html>